.email-icon165 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon166,
.email-icon167,
.email-icon168 {
  position: absolute;
  top: 284px;
  left: 110px;
  width: 295px;
  height: 71px;
}
.email-icon167,
.email-icon168 {
  top: 285px;
  left: 601px;
}
.email-icon168 {
  top: 314px;
  left: 888px;
  width: 163px;
  height: 42px;
}
.option219 {
  position: absolute;
  width: 12.43%;
  top: 30.76%;
  left: 65.63%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon169,
.email-icon170 {
  position: absolute;
  top: 314px;
  left: 1043px;
  width: 163px;
  height: 42px;
}
.email-icon170 {
  left: 1198px;
}
.email-icon171,
.email-icon172 {
  position: absolute;
  top: 285px;
  left: 888px;
  width: 473px;
  height: 37px;
}
.email-icon172 {
  top: 284px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.email-icon173,
.email-icon174,
.email-icon175 {
  position: absolute;
  top: 345px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon174,
.email-icon175 {
  left: 110px;
  width: 295px;
}
.email-icon175 {
  top: 346px;
  left: 601px;
}
.email-icon176,
.email-icon177,
.email-icon178 {
  position: absolute;
  top: 348px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon177,
.email-icon178 {
  left: 1043px;
}
.email-icon178 {
  left: 1198px;
}
.email-icon179,
.email-icon180 {
  position: absolute;
  top: 284.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 71px;
}
.email-icon180 {
  top: 347.7px;
  height: 68px;
}
.option220,
.option221 {
  position: absolute;
  width: 12.43%;
  top: 29.17%;
  left: 95.88%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option221 {
  top: 35.22%;
  left: 96.5%;
  color: var(--color-limegreen);
}
.email-icon181 {
  position: absolute;
  top: 410.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option222 {
  position: absolute;
  width: 12.43%;
  top: 41.38%;
  left: 96.22%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon182 {
  position: absolute;
  top: 473.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option223 {
  position: absolute;
  width: 12.43%;
  top: 47.63%;
  left: 96.5%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon183,
.email-icon184 {
  position: absolute;
  top: 536.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.email-icon184 {
  top: 598.7px;
  left: 1351.6px;
  width: 88.4px;
}
.option224,
.option225 {
  position: absolute;
  width: 12.43%;
  top: 59.93%;
  left: 96.43%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option225 {
  top: 53.68%;
}
.login29,
.login30 {
  position: absolute;
  top: 348.7px;
  left: 1433.6px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
}
.login29 {
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.login30 {
  background-color: var(--color-gray-100);
  height: 33px;
}
.email-icon185 {
  position: absolute;
  top: 345px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option226,
.option227 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option227 {
  top: 35.35%;
}
.option228,
.option229,
.option230,
.option231,
.option232,
.option233,
.option234,
.option235,
.option236,
.option237 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 32.43%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option229,
.option230,
.option231,
.option232,
.option233,
.option234,
.option235,
.option236,
.option237 {
  top: 35.35%;
}
.option230,
.option231,
.option232,
.option233,
.option234,
.option235,
.option236,
.option237 {
  width: 6.46%;
  top: 29.3%;
  left: 48.89%;
}
.option231,
.option232,
.option233,
.option234,
.option235,
.option236,
.option237 {
  width: 12.43%;
  top: 35.35%;
}
.option232,
.option233,
.option234,
.option235,
.option236,
.option237 {
  top: 27.83%;
  left: 76.39%;
}
.option233,
.option234,
.option235,
.option236,
.option237 {
  top: 30.76%;
  left: 87.78%;
}
.option234,
.option235,
.option236,
.option237 {
  top: 35.25%;
  left: 86.04%;
}
.option235,
.option236,
.option237 {
  top: 30.76%;
  left: 76.39%;
}
.option236,
.option237 {
  top: 29.2%;
  left: 3.13%;
}
.option237 {
  top: 35.35%;
}
.email-icon186,
.email-icon187 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.email-icon187 {
  top: 62.7px;
  width: 1440px;
}
.option238 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon188 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
}
.option239 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon189 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option240 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon190 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option241 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon191 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
}
.option242 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon192 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out14,
.option243 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option243 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out14 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login31 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out15 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon193 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option244 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-14 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option245,
.option246,
.option247 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option246,
.option247 {
  top: 35.35%;
  left: 64.31%;
}
.option247 {
  top: 35.25%;
  left: 74.93%;
}
.email-icon194,
.email-icon195,
.email-icon196 {
  position: absolute;
  top: 408px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon195,
.email-icon196 {
  left: 110px;
  width: 295px;
}
.email-icon196 {
  top: 409px;
  left: 601px;
}
.email-icon197,
.email-icon198,
.email-icon199,
.email-icon200 {
  position: absolute;
  top: 411px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon198,
.email-icon199,
.email-icon200 {
  left: 1043px;
}
.email-icon199,
.email-icon200 {
  left: 1198px;
}
.email-icon200 {
  top: 408px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option248,
.option249,
.option250,
.option251,
.option252,
.option253,
.option254 {
  position: absolute;
  width: 12.43%;
  top: 41.5%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option249,
.option250,
.option251,
.option252,
.option253,
.option254 {
  left: 32.43%;
}
.option250,
.option251,
.option252,
.option253,
.option254 {
  left: 48.89%;
}
.option251,
.option252,
.option253,
.option254 {
  top: 41.41%;
  left: 86.04%;
}
.option252,
.option253,
.option254 {
  top: 41.5%;
  left: 3.13%;
}
.option253,
.option254 {
  left: 64.31%;
}
.option254 {
  top: 41.41%;
  left: 74.93%;
}
.email-icon201,
.email-icon202,
.email-icon203 {
  position: absolute;
  top: 471px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon202,
.email-icon203 {
  left: 110px;
  width: 295px;
}
.email-icon203 {
  top: 472px;
  left: 601px;
}
.email-icon204,
.email-icon205,
.email-icon206,
.email-icon207 {
  position: absolute;
  top: 474px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon205,
.email-icon206,
.email-icon207 {
  left: 1043px;
}
.email-icon206,
.email-icon207 {
  left: 1198px;
}
.email-icon207 {
  top: 471px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option255,
.option256,
.option257,
.option258,
.option259,
.option260,
.option261 {
  position: absolute;
  width: 12.43%;
  top: 47.66%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option256,
.option257,
.option258,
.option259,
.option260,
.option261 {
  left: 32.43%;
}
.option257,
.option258,
.option259,
.option260,
.option261 {
  left: 48.89%;
}
.option258,
.option259,
.option260,
.option261 {
  top: 47.56%;
  left: 86.04%;
}
.option259,
.option260,
.option261 {
  top: 47.66%;
  left: 3.13%;
}
.option260,
.option261 {
  left: 64.31%;
}
.option261 {
  top: 47.56%;
  left: 74.93%;
}
.email-icon208,
.email-icon209,
.email-icon210 {
  position: absolute;
  top: 534px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon209,
.email-icon210 {
  left: 110px;
  width: 295px;
}
.email-icon210 {
  top: 535px;
  left: 601px;
}
.email-icon211,
.email-icon212,
.email-icon213,
.email-icon214 {
  position: absolute;
  top: 537px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon212,
.email-icon213,
.email-icon214 {
  left: 1043px;
}
.email-icon213,
.email-icon214 {
  left: 1198px;
}
.email-icon214 {
  top: 534px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option262,
.option263,
.option264,
.option265,
.option266,
.option267,
.option268 {
  position: absolute;
  width: 12.43%;
  top: 53.81%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option263,
.option264,
.option265,
.option266,
.option267,
.option268 {
  left: 32.43%;
}
.option264,
.option265,
.option266,
.option267,
.option268 {
  left: 48.89%;
}
.option265,
.option266,
.option267,
.option268 {
  top: 53.71%;
  left: 86.04%;
}
.option266,
.option267,
.option268 {
  top: 53.81%;
  left: 3.13%;
}
.option267,
.option268 {
  left: 64.31%;
}
.option268 {
  top: 53.71%;
  left: 74.93%;
}
.email-icon215,
.email-icon216,
.email-icon217 {
  position: absolute;
  top: 597px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon216,
.email-icon217 {
  left: 110px;
  width: 295px;
}
.email-icon217 {
  top: 598px;
  left: 601px;
}
.email-icon218,
.email-icon219,
.email-icon220,
.email-icon221 {
  position: absolute;
  top: 600px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon219,
.email-icon220,
.email-icon221 {
  left: 1043px;
}
.email-icon220,
.email-icon221 {
  left: 1198px;
}
.email-icon221 {
  top: 597px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option269,
.option270,
.option271,
.option272,
.option273,
.option274,
.option275 {
  position: absolute;
  width: 12.43%;
  top: 59.96%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option270,
.option271,
.option272,
.option273,
.option274,
.option275 {
  left: 32.43%;
}
.option271,
.option272,
.option273,
.option274,
.option275 {
  left: 48.89%;
}
.option272,
.option273,
.option274,
.option275 {
  top: 59.86%;
  left: 86.04%;
}
.option273,
.option274,
.option275 {
  top: 59.96%;
  left: 3.13%;
}
.option274,
.option275 {
  left: 64.31%;
}
.option275 {
  top: 59.86%;
  left: 74.93%;
}
.add-printer-child {
  position: absolute;
  top: 302px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.add-printer-child1,
.add-printer-child2,
.add-printer-child3,
.add-printer-inner,
.add-printer-item {
  position: absolute;
  top: 364px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.add-printer-child1,
.add-printer-child2,
.add-printer-child3,
.add-printer-inner {
  top: 425px;
}
.add-printer-child1,
.add-printer-child2,
.add-printer-child3 {
  top: 489px;
}
.add-printer-child2,
.add-printer-child3 {
  top: 553px;
}
.add-printer-child3 {
  top: 617px;
}
.frame-child2 {
  position: relative;
  width: 32px;
  height: 32px;
}
.add-printer-inner1 {
  position: absolute;
  top: 239px;
  left: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.add-printer-child4,
.email-icon222 {
  position: absolute;
  top: 859.2px;
  left: 15.1px;
  width: 3px;
  height: 7px;
}
.email-icon222 {
  top: 860.7px;
  left: 0;
  width: 1440px;
  height: 163.3px;
}
.option276,
.option277 {
  position: absolute;
  width: 20.49%;
  top: 87.47%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option276 {
  height: 6.45%;
  left: 10.11%;
  text-align: center;
  justify-content: center;
}
.option277 {
  height: 3.22%;
  left: 33.58%;
}
.option277,
.option278,
.option279 {
  text-align: center;
  justify-content: center;
}
.option278 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.47%;
  left: 61.78%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option279 {
  top: 91.38%;
  left: 62.26%;
}
.option279,
.option280,
.option281 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option280 {
  top: 91.67%;
  left: 28.24%;
  text-align: center;
  justify-content: center;
}
.option281 {
  top: 94.6%;
  left: 65.32%;
}
.streamlinehq-programming-web-icon7 {
  position: absolute;
  top: 897.7px;
  left: 539.6px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon7 {
  position: absolute;
  top: 902.7px;
  left: 895.6px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon7 {
  position: absolute;
  top: 939.7px;
  left: 894.6px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-15 {
  position: absolute;
  top: 879.7px;
  left: 45.6px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.login32 {
  position: absolute;
  top: 698px;
  left: 130px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div23 {
  top: 718px;
  left: 159px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div23,
.div24,
.login33 {
  position: absolute;
}
.login33 {
  top: 698px;
  left: 213px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div24 {
  top: 718px;
  left: 242px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.login34,
.login35,
.login36 {
  position: absolute;
  top: 698px;
  left: 296px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.login35,
.login36 {
  top: 699px;
  left: 47px;
}
.login36 {
  top: 698px;
  left: 379px;
}
.div25,
.div26,
.div27 {
  position: absolute;
  top: 713px;
  left: 326px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div26,
.div27 {
  top: 716px;
  left: 408px;
  width: 23px;
}
.div27 {
  top: 718px;
  left: 73px;
  width: 31px;
}
.email-icon223 {
  position: absolute;
  top: 270px;
  left: 287px;
  width: 863px;
  height: 432px;
  cursor: pointer;
}
.login-icon1,
.login37 {
  position: absolute;
  top: 603.7px;
  left: 658.6px;
  border-radius: var(--br-mini);
  width: 154px;
  height: 67px;
}
.login37 {
  top: 772.7px;
  left: 378.6px;
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.remove-a-printer1 {
  position: absolute;
  top: 781.7px;
  left: calc(50% - 309.4px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login38 {
  position: absolute;
  top: 772.7px;
  left: 690.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.add-a-printer1,
.add1 {
  position: absolute;
  top: 797.7px;
  left: calc(50% + 8.6px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.add1 {
  top: 624.7px;
  left: calc(50% - 47.4px);
}
.email-icon224 {
  position: absolute;
  top: 297px;
  left: 321px;
  width: 295px;
  height: 71px;
}
.option282 {
  position: absolute;
  width: 11.32%;
  top: 30.57%;
  left: 24.86%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.add-printer {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
