.image-21-icon {
  position: absolute;
  top: 3px;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.email-icon106 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon107,
.email-icon108,
.email-icon109 {
  position: absolute;
  top: 284px;
  left: 110px;
  width: 295px;
  height: 71px;
}
.email-icon108,
.email-icon109 {
  top: 285px;
  left: 601px;
}
.email-icon109 {
  top: 314px;
  left: 888px;
  width: 163px;
  height: 42px;
}
.option155 {
  position: absolute;
  width: 12.43%;
  top: 30.76%;
  left: 65.63%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon110,
.email-icon111,
.email-icon112 {
  position: absolute;
  top: 314px;
  left: 1043px;
  width: 163px;
  height: 42px;
}
.email-icon111,
.email-icon112 {
  left: 1198px;
}
.email-icon112 {
  top: 285px;
  left: 888px;
  width: 473px;
  height: 37px;
}
.email-icon113,
.email-icon114 {
  position: absolute;
  top: 284.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 71px;
}
.email-icon114 {
  top: 347.7px;
  height: 68px;
}
.option156,
.option157 {
  position: absolute;
  width: 12.43%;
  top: 29.17%;
  left: 95.88%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option157 {
  top: 35.22%;
  left: 96.5%;
  color: var(--color-limegreen);
}
.email-icon115 {
  position: absolute;
  top: 410.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option158 {
  position: absolute;
  width: 12.43%;
  top: 41.38%;
  left: 96.22%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon116 {
  position: absolute;
  top: 473.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option159 {
  position: absolute;
  width: 12.43%;
  top: 47.63%;
  left: 96.5%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon117,
.email-icon118 {
  position: absolute;
  top: 536.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.email-icon118 {
  top: 598.7px;
  left: 1351.6px;
  width: 88.4px;
}
.option160,
.option161 {
  position: absolute;
  width: 12.43%;
  top: 59.93%;
  left: 96.43%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option161 {
  top: 53.68%;
}
.login18,
.login19 {
  position: absolute;
  top: 348.7px;
  left: 1433.6px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
}
.login18 {
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.login19 {
  background-color: var(--color-gray-100);
  height: 33px;
}
.email-icon119 {
  position: absolute;
  top: 284px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.email-icon120,
.email-icon121,
.email-icon122 {
  position: absolute;
  top: 345px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon121,
.email-icon122 {
  left: 110px;
  width: 295px;
}
.email-icon122 {
  top: 346px;
  left: 601px;
}
.email-icon123,
.email-icon124,
.email-icon125,
.email-icon126 {
  position: absolute;
  top: 348px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon124,
.email-icon125,
.email-icon126 {
  left: 1043px;
}
.email-icon125,
.email-icon126 {
  left: 1198px;
}
.email-icon126 {
  top: 345px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option162,
.option163 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option163 {
  top: 35.35%;
}
.option164,
.option165,
.option166,
.option167,
.option168,
.option169,
.option170,
.option171,
.option172,
.option173 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 32.43%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option165,
.option166,
.option167,
.option168,
.option169,
.option170,
.option171,
.option172,
.option173 {
  top: 35.35%;
}
.option166,
.option167,
.option168,
.option169,
.option170,
.option171,
.option172,
.option173 {
  width: 6.46%;
  top: 29.3%;
  left: 48.89%;
}
.option167,
.option168,
.option169,
.option170,
.option171,
.option172,
.option173 {
  width: 12.43%;
  top: 35.35%;
}
.option168,
.option169,
.option170,
.option171,
.option172,
.option173 {
  top: 27.83%;
  left: 76.39%;
}
.option169,
.option170,
.option171,
.option172,
.option173 {
  top: 30.76%;
  left: 87.78%;
}
.option170,
.option171,
.option172,
.option173 {
  top: 35.25%;
  left: 86.04%;
}
.option171,
.option172,
.option173 {
  top: 30.76%;
  left: 76.39%;
}
.option172,
.option173 {
  top: 29.2%;
  left: 3.13%;
}
.option173 {
  top: 35.35%;
}
.email-icon127,
.email-icon128 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.email-icon128 {
  top: 62.7px;
  width: 1440px;
}
.option174 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon129 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
  cursor: pointer;
}
.option175 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon130 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option176 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon131 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option177 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon132 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
  cursor: pointer;
}
.option178 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon133 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out12,
.option179 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option179 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out12 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login20 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out13 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon134 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option180 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-13 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option181,
.option182,
.option183 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option182,
.option183 {
  top: 35.35%;
  left: 64.31%;
}
.option183 {
  top: 35.25%;
  left: 74.93%;
}
.email-icon135,
.email-icon136,
.email-icon137 {
  position: absolute;
  top: 408px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon136,
.email-icon137 {
  left: 110px;
  width: 295px;
}
.email-icon137 {
  top: 409px;
  left: 601px;
}
.email-icon138,
.email-icon139,
.email-icon140,
.email-icon141 {
  position: absolute;
  top: 411px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon139,
.email-icon140,
.email-icon141 {
  left: 1043px;
}
.email-icon140,
.email-icon141 {
  left: 1198px;
}
.email-icon141 {
  top: 408px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option184,
.option185,
.option186,
.option187,
.option188,
.option189,
.option190 {
  position: absolute;
  width: 12.43%;
  top: 41.5%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option185,
.option186,
.option187,
.option188,
.option189,
.option190 {
  left: 32.43%;
}
.option186,
.option187,
.option188,
.option189,
.option190 {
  left: 48.89%;
}
.option187,
.option188,
.option189,
.option190 {
  top: 41.41%;
  left: 86.04%;
}
.option188,
.option189,
.option190 {
  top: 41.5%;
  left: 3.13%;
}
.option189,
.option190 {
  left: 64.31%;
}
.option190 {
  top: 41.41%;
  left: 74.93%;
}
.email-icon142,
.email-icon143,
.email-icon144 {
  position: absolute;
  top: 471px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon143,
.email-icon144 {
  left: 110px;
  width: 295px;
}
.email-icon144 {
  top: 472px;
  left: 601px;
}
.email-icon145,
.email-icon146,
.email-icon147,
.email-icon148 {
  position: absolute;
  top: 474px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon146,
.email-icon147,
.email-icon148 {
  left: 1043px;
}
.email-icon147,
.email-icon148 {
  left: 1198px;
}
.email-icon148 {
  top: 471px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option191,
.option192,
.option193,
.option194,
.option195,
.option196,
.option197 {
  position: absolute;
  width: 12.43%;
  top: 47.66%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option192,
.option193,
.option194,
.option195,
.option196,
.option197 {
  left: 32.43%;
}
.option193,
.option194,
.option195,
.option196,
.option197 {
  left: 48.89%;
}
.option194,
.option195,
.option196,
.option197 {
  top: 47.56%;
  left: 86.04%;
}
.option195,
.option196,
.option197 {
  top: 47.66%;
  left: 3.13%;
}
.option196,
.option197 {
  left: 64.31%;
}
.option197 {
  top: 47.56%;
  left: 74.93%;
}
.email-icon149,
.email-icon150,
.email-icon151 {
  position: absolute;
  top: 534px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon150,
.email-icon151 {
  left: 110px;
  width: 295px;
}
.email-icon151 {
  top: 535px;
  left: 601px;
}
.email-icon152,
.email-icon153,
.email-icon154,
.email-icon155 {
  position: absolute;
  top: 537px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon153,
.email-icon154,
.email-icon155 {
  left: 1043px;
}
.email-icon154,
.email-icon155 {
  left: 1198px;
}
.email-icon155 {
  top: 534px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option198,
.option199,
.option200,
.option201,
.option202,
.option203,
.option204 {
  position: absolute;
  width: 12.43%;
  top: 53.81%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option199,
.option200,
.option201,
.option202,
.option203,
.option204 {
  left: 32.43%;
}
.option200,
.option201,
.option202,
.option203,
.option204 {
  left: 48.89%;
}
.option201,
.option202,
.option203,
.option204 {
  top: 53.71%;
  left: 86.04%;
}
.option202,
.option203,
.option204 {
  top: 53.81%;
  left: 3.13%;
}
.option203,
.option204 {
  left: 64.31%;
}
.option204 {
  top: 53.71%;
  left: 74.93%;
}
.email-icon156,
.email-icon157,
.email-icon158 {
  position: absolute;
  top: 597px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon157,
.email-icon158 {
  left: 110px;
  width: 295px;
}
.email-icon158 {
  top: 598px;
  left: 601px;
}
.email-icon159,
.email-icon160,
.email-icon161,
.email-icon162 {
  position: absolute;
  top: 600px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon160,
.email-icon161,
.email-icon162 {
  left: 1043px;
}
.email-icon161,
.email-icon162 {
  left: 1198px;
}
.email-icon162 {
  top: 597px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option205,
.option206,
.option207,
.option208,
.option209,
.option210,
.option211 {
  position: absolute;
  width: 12.43%;
  top: 59.96%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option206,
.option207,
.option208,
.option209,
.option210,
.option211 {
  left: 32.43%;
}
.option207,
.option208,
.option209,
.option210,
.option211 {
  left: 48.89%;
}
.option208,
.option209,
.option210,
.option211 {
  top: 59.86%;
  left: 86.04%;
}
.option209,
.option210,
.option211 {
  top: 59.96%;
  left: 3.13%;
}
.option210,
.option211 {
  left: 64.31%;
}
.option211 {
  top: 59.86%;
  left: 74.93%;
}
.add-printer-fail-child {
  position: absolute;
  top: 302px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.add-printer-fail-child1,
.add-printer-fail-child2,
.add-printer-fail-inner,
.add-printer-fail-item,
.rectangle-div {
  position: absolute;
  top: 364px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.add-printer-fail-child1,
.add-printer-fail-child2,
.add-printer-fail-inner,
.rectangle-div {
  top: 425px;
}
.add-printer-fail-child1,
.add-printer-fail-child2,
.rectangle-div {
  top: 489px;
}
.add-printer-fail-child1,
.add-printer-fail-child2 {
  top: 553px;
}
.add-printer-fail-child2 {
  top: 617px;
}
.frame-child1 {
  position: relative;
  width: 32px;
  height: 32px;
}
.add-printer-fail-inner1 {
  position: absolute;
  top: 239px;
  left: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.email-icon163,
.vector-icon {
  position: absolute;
  top: 859.2px;
  left: 15.1px;
  width: 3px;
  height: 7px;
}
.email-icon163 {
  top: 860.7px;
  left: 0;
  width: 1440px;
  height: 163.3px;
}
.option212,
.option213 {
  position: absolute;
  width: 20.49%;
  top: 87.47%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option212 {
  height: 6.45%;
  left: 10.11%;
  text-align: center;
  justify-content: center;
}
.option213 {
  height: 3.22%;
  left: 33.58%;
}
.option213,
.option214,
.option215 {
  text-align: center;
  justify-content: center;
}
.option214 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.47%;
  left: 61.78%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option215 {
  top: 91.38%;
  left: 62.26%;
}
.option215,
.option216,
.option217 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option216 {
  top: 91.67%;
  left: 28.24%;
  text-align: center;
  justify-content: center;
}
.option217 {
  top: 94.6%;
  left: 65.32%;
}
.streamlinehq-programming-web-icon6 {
  position: absolute;
  top: 897.7px;
  left: 539.6px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon6 {
  position: absolute;
  top: 902.7px;
  left: 895.6px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon6 {
  position: absolute;
  top: 939.7px;
  left: 894.6px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-14 {
  position: absolute;
  top: 879.7px;
  left: 45.6px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.login21 {
  position: absolute;
  top: 698px;
  left: 130px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div18 {
  top: 718px;
  left: 159px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div18,
.div19,
.login22 {
  position: absolute;
}
.login22 {
  top: 698px;
  left: 213px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div19 {
  top: 718px;
  left: 242px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.login23,
.login24,
.login25 {
  position: absolute;
  top: 698px;
  left: 296px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.login24,
.login25 {
  top: 699px;
  left: 47px;
}
.login25 {
  top: 698px;
  left: 379px;
}
.div20,
.div21,
.div22 {
  position: absolute;
  top: 713px;
  left: 326px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div21,
.div22 {
  top: 716px;
  left: 408px;
  width: 23px;
}
.div22 {
  top: 718px;
  left: 73px;
  width: 31px;
}
.email-icon164,
.login26 {
  position: absolute;
  top: 391px;
  left: 325px;
  width: 788px;
  height: 189px;
}
.login26 {
  top: 768.7px;
  left: 390.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.remove-a-printer {
  position: absolute;
  top: 777.7px;
  left: calc(50% - 297.4px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login27 {
  position: absolute;
  top: 768.7px;
  left: 702.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.add-a-printer {
  position: absolute;
  top: 793.7px;
  left: calc(50% + 20.6px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login-icon {
  position: absolute;
  top: 598.7px;
  left: 671.6px;
  border-radius: var(--br-mini);
  width: 154px;
  height: 67px;
}
.add {
  position: absolute;
  top: 619.7px;
  left: calc(50% - 34.4px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.option218 {
  width: 11.32%;
  top: 45.51%;
  left: 44.86%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.login28,
.option218,
.x {
  position: absolute;
}
.login28 {
  top: 375px;
  left: 1085px;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 40px;
  height: 39px;
}
.x {
  top: 383px;
  left: 1087px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 23px;
}
.add-printer-fail {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
