.email-icon300 {
  position: absolute;
  top: 283.7px;
  left: 0;
  width: 117.6px;
  height: 69px;
}
.email-icon301,
.email-icon302,
.email-icon303 {
  position: absolute;
  top: 283.7px;
  left: 109.6px;
  width: 295px;
  height: 69px;
}
.email-icon302,
.email-icon303 {
  top: 284.7px;
  left: 600.6px;
}
.email-icon303 {
  top: 314px;
  left: 888px;
  width: 163px;
  height: 42px;
}
.option355 {
  position: absolute;
  width: 12.43%;
  top: 30.76%;
  left: 65.63%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon304,
.email-icon305,
.email-icon306 {
  position: absolute;
  top: 314px;
  left: 1043px;
  width: 163px;
  height: 42px;
}
.email-icon305,
.email-icon306 {
  left: 1198px;
}
.email-icon306 {
  top: 285px;
  left: 888px;
  width: 473px;
  height: 37px;
}
.email-icon307,
.email-icon308 {
  position: absolute;
  top: 284.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 71px;
}
.email-icon308 {
  top: 347.7px;
  height: 68px;
}
.option356,
.option357 {
  position: absolute;
  width: 12.43%;
  top: 29.17%;
  left: 95.88%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option357 {
  top: 35.22%;
  left: 96.5%;
  color: var(--color-limegreen);
}
.email-icon309 {
  position: absolute;
  top: 407.7px;
  left: 1353.6px;
  width: 86.4px;
  height: 68px;
}
.option358 {
  position: absolute;
  width: 12.43%;
  top: 41.08%;
  left: 96.29%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon310 {
  position: absolute;
  top: 467.7px;
  left: 1353.6px;
  width: 86.4px;
  height: 68px;
}
.option359 {
  position: absolute;
  width: 12.43%;
  top: 47.33%;
  left: 96.57%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon311,
.email-icon312 {
  position: absolute;
  top: 527.7px;
  left: 1353.6px;
  width: 86.4px;
  height: 68px;
}
.email-icon312 {
  top: 587.7px;
}
.option360,
.option361 {
  position: absolute;
  width: 12.43%;
  top: 59.44%;
  left: 96.57%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option361 {
  top: 53.39%;
  left: 96.5%;
}
.login49,
.login50 {
  position: absolute;
  top: 348.7px;
  left: 1433.6px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
}
.login49 {
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.login50 {
  background-color: var(--color-gray-100);
  height: 33px;
}
.email-icon313 {
  position: absolute;
  top: 283.7px;
  left: 396.6px;
  width: 212px;
  height: 69px;
}
.email-icon314,
.email-icon315,
.email-icon316 {
  position: absolute;
  top: 342.7px;
  left: 0;
  width: 117.6px;
  height: 69px;
}
.email-icon315,
.email-icon316 {
  left: 109.6px;
  width: 295px;
}
.email-icon316 {
  top: 343.7px;
  left: 600.6px;
}
.email-icon317,
.email-icon318,
.email-icon319,
.email-icon320 {
  position: absolute;
  top: 348px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon318,
.email-icon319,
.email-icon320 {
  left: 1043px;
}
.email-icon319,
.email-icon320 {
  left: 1198px;
}
.email-icon320 {
  top: 342.7px;
  left: 396.6px;
  width: 212px;
  height: 69px;
}
.option362,
.option363 {
  position: absolute;
  height: 3.03%;
  width: 12.43%;
  top: 29.17%;
  left: 14.76%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option363 {
  top: 35.13%;
}
.option364,
.option365 {
  height: 3.03%;
  width: 12.43%;
  left: 32.4%;
}
.option364 {
  position: absolute;
  top: 29.17%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option365 {
  top: 35.13%;
}
.option365,
.option366,
.option367,
.option368,
.option369,
.option370,
.option371,
.option372,
.option373 {
  position: absolute;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option366 {
  height: 3.03%;
  width: 6.46%;
  top: 29.27%;
  left: 48.86%;
}
.option367,
.option368,
.option369,
.option370,
.option371,
.option372,
.option373 {
  width: 12.43%;
}
.option367 {
  height: 2.93%;
  top: 35.13%;
  left: 48.86%;
}
.option368,
.option369,
.option370,
.option371,
.option372,
.option373 {
  top: 27.83%;
  left: 76.39%;
}
.option369,
.option370,
.option371,
.option372,
.option373 {
  top: 30.76%;
  left: 87.78%;
}
.option370,
.option371,
.option372,
.option373 {
  top: 35.25%;
  left: 86.04%;
}
.option371,
.option372,
.option373 {
  top: 30.76%;
  left: 76.39%;
}
.option372,
.option373 {
  height: 3.03%;
  width: 12.36%;
  top: 29.17%;
  left: 3.1%;
}
.option373 {
  top: 35.13%;
}
.email-icon321,
.email-icon322 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.email-icon322 {
  top: 62.7px;
  width: 1440px;
}
.option374 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon323 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
}
.option375 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon324 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option376 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon325 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option377 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon326 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
  cursor: pointer;
}
.option378 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon327 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out18,
.option379 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option379 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out18 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login51 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out19 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon328 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option380 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-16 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option381,
.option382,
.option383 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option382,
.option383 {
  top: 35.35%;
  left: 64.31%;
}
.option383 {
  top: 35.25%;
  left: 74.93%;
}
.email-icon329,
.email-icon330,
.email-icon331 {
  position: absolute;
  top: 403.7px;
  left: 0;
  width: 117.6px;
  height: 69px;
}
.email-icon330,
.email-icon331 {
  left: 109.6px;
  width: 295px;
}
.email-icon331 {
  top: 404.7px;
  left: 600.6px;
}
.email-icon332,
.email-icon333,
.email-icon334,
.email-icon335 {
  position: absolute;
  top: 407.7px;
  left: 887.6px;
  width: 163px;
  height: 68px;
}
.email-icon333,
.email-icon334,
.email-icon335 {
  left: 1042.6px;
}
.email-icon334,
.email-icon335 {
  left: 1197.6px;
}
.email-icon335 {
  top: 403.7px;
  left: 396.6px;
  width: 212px;
  height: 69px;
}
.option384,
.option385,
.option386 {
  position: absolute;
  height: 3.03%;
  width: 12.43%;
  top: 41.08%;
  left: 14.76%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option385,
.option386 {
  left: 32.4%;
}
.option386 {
  top: 40.99%;
  left: 48.86%;
}
.option387 {
  width: 12.43%;
  top: 41.08%;
  left: 86.01%;
}
.option387,
.option388,
.option389,
.option390 {
  position: absolute;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option388 {
  height: 3.03%;
  width: 12.36%;
  top: 41.08%;
  left: 3.1%;
}
.option389,
.option390 {
  width: 12.43%;
  top: 41.18%;
  left: 64.28%;
}
.option390 {
  top: 41.08%;
  left: 74.9%;
}
.email-icon336,
.email-icon337,
.email-icon338 {
  position: absolute;
  top: 464.7px;
  left: 0;
  width: 117.6px;
  height: 69px;
}
.email-icon337,
.email-icon338 {
  left: 109.6px;
  width: 295px;
}
.email-icon338 {
  top: 465.7px;
  left: 600.6px;
  height: 68px;
}
.email-icon339,
.email-icon340,
.email-icon341,
.email-icon342 {
  position: absolute;
  top: 467.7px;
  left: 887.6px;
  width: 163px;
  height: 68px;
}
.email-icon340,
.email-icon341,
.email-icon342 {
  left: 1042.6px;
}
.email-icon341,
.email-icon342 {
  left: 1197.6px;
}
.email-icon342 {
  top: 464.7px;
  left: 396.6px;
  width: 212px;
  height: 69px;
}
.option391,
.option392 {
  height: 3.03%;
  width: 12.43%;
  top: 47.04%;
}
.option391 {
  position: absolute;
  left: 14.76%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option392 {
  left: 32.4%;
}
.option392,
.option393,
.option394,
.option395,
.option396 {
  position: absolute;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option393 {
  width: 12.43%;
  top: 46.94%;
  left: 86.01%;
}
.option394,
.option395,
.option396 {
  top: 47.04%;
}
.option394 {
  height: 3.03%;
  width: 12.36%;
  left: 3.1%;
}
.option395,
.option396 {
  width: 12.43%;
  left: 64.28%;
}
.option396 {
  top: 46.94%;
  left: 74.9%;
}
.email-icon343,
.email-icon344,
.email-icon345 {
  position: absolute;
  top: 525.7px;
  left: 0;
  width: 117.6px;
  height: 69px;
}
.email-icon344,
.email-icon345 {
  left: 109.6px;
  width: 295px;
}
.email-icon345 {
  left: 600.6px;
}
.email-icon346,
.email-icon347,
.email-icon348,
.email-icon349 {
  position: absolute;
  top: 527.7px;
  left: 887.6px;
  width: 163px;
  height: 68px;
}
.email-icon347,
.email-icon348,
.email-icon349 {
  left: 1042.6px;
}
.email-icon348,
.email-icon349 {
  left: 1197.6px;
}
.email-icon349 {
  top: 525.7px;
  left: 396.6px;
  width: 212px;
  height: 69px;
}
.option397,
.option398,
.option399 {
  position: absolute;
  height: 3.03%;
  width: 12.43%;
  top: 53%;
  left: 14.76%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option398,
.option399 {
  left: 32.4%;
}
.option399 {
  top: 52.9%;
  left: 48.86%;
}
.option400 {
  width: 12.43%;
  top: 52.8%;
  left: 86.01%;
}
.option400,
.option401,
.option402,
.option403 {
  position: absolute;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option401 {
  height: 3.03%;
  width: 12.36%;
  top: 53%;
  left: 3.1%;
}
.option402,
.option403 {
  width: 12.43%;
  top: 52.9%;
  left: 64.28%;
}
.option403 {
  top: 52.8%;
  left: 74.9%;
}
.email-icon350,
.email-icon351,
.email-icon352 {
  position: absolute;
  top: 586.7px;
  left: 0;
  width: 117.6px;
  height: 69px;
}
.email-icon351,
.email-icon352 {
  left: 109.6px;
  width: 295px;
}
.email-icon352 {
  left: 600.6px;
}
.email-icon353,
.email-icon354,
.email-icon355,
.email-icon356 {
  position: absolute;
  top: 587.7px;
  left: 887.6px;
  width: 163px;
  height: 68px;
}
.email-icon354,
.email-icon355,
.email-icon356 {
  left: 1042.6px;
}
.email-icon355,
.email-icon356 {
  left: 1197.6px;
}
.email-icon356 {
  top: 586.7px;
  left: 396.6px;
  width: 212px;
  height: 69px;
}
.option404,
.option405,
.option406 {
  position: absolute;
  height: 2.93%;
  width: 12.43%;
  top: 58.96%;
  left: 14.76%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option405,
.option406 {
  left: 32.4%;
}
.option406 {
  height: 3.03%;
  top: 58.86%;
  left: 48.86%;
}
.option407 {
  width: 12.43%;
  top: 58.66%;
  left: 86.01%;
}
.option407,
.option408,
.option409,
.option410 {
  position: absolute;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option408 {
  height: 2.93%;
  width: 12.36%;
  top: 58.96%;
  left: 3.1%;
}
.option409,
.option410 {
  width: 12.43%;
  top: 58.76%;
  left: 64.28%;
}
.option410 {
  top: 58.66%;
  left: 74.9%;
}
.comfirmation-of-removing-child,
.comfirmation-of-removing-inner,
.comfirmation-of-removing-item {
  position: absolute;
  top: 301.7px;
  left: 11.6px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 25px;
}
.comfirmation-of-removing-inner,
.comfirmation-of-removing-item {
  top: 361.7px;
}
.comfirmation-of-removing-inner {
  top: 420.7px;
}
.comfirmation-of-removing-child1,
.comfirmation-of-removing-child2,
.comfirmation-of-removing-child3 {
  position: absolute;
  top: 482.7px;
  left: 11.6px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 25px;
}
.comfirmation-of-removing-child2,
.comfirmation-of-removing-child3 {
  top: 543.7px;
  height: 26px;
}
.comfirmation-of-removing-child3 {
  top: 603.7px;
  height: 25px;
}
.frame-child4 {
  position: relative;
  width: 32px;
  height: 32px;
}
.comfirmation-of-removing-inner1,
.option411 {
  position: absolute;
  display: flex;
  align-items: center;
}
.comfirmation-of-removing-inner1 {
  top: 239px;
  left: 351px;
  flex-direction: row;
  justify-content: flex-start;
}
.option411 {
  height: 4.3%;
  width: 43.89%;
  top: 93.46%;
  left: 28.36%;
  line-height: 32px;
  text-align: center;
  justify-content: center;
  mix-blend-mode: exclusion;
}
.email-icon357 {
  position: absolute;
  top: 399.7px;
  left: 498.6px;
  width: 486px;
  height: 177px;
}
.comfirmation-of-removing-child4,
.email-icon358 {
  position: absolute;
  top: 859.2px;
  left: 15.1px;
  width: 3px;
  height: 7px;
}
.email-icon358 {
  top: 860.7px;
  left: 0;
  width: 1440px;
  height: 163.3px;
}
.option412,
.option413 {
  position: absolute;
  width: 20.49%;
  top: 87.47%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option412 {
  height: 6.45%;
  left: 10.11%;
  text-align: center;
  justify-content: center;
}
.option413 {
  height: 3.22%;
  left: 33.58%;
}
.option413,
.option414,
.option415 {
  text-align: center;
  justify-content: center;
}
.option414 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.47%;
  left: 61.78%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option415 {
  top: 91.38%;
  left: 62.26%;
}
.option415,
.option416,
.option417 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option416 {
  top: 91.67%;
  left: 28.24%;
  text-align: center;
  justify-content: center;
}
.option417 {
  top: 94.6%;
  left: 65.32%;
}
.streamlinehq-programming-web-icon9 {
  position: absolute;
  top: 897.7px;
  left: 539.6px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon9 {
  position: absolute;
  top: 902.7px;
  left: 895.6px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon9 {
  position: absolute;
  top: 939.7px;
  left: 894.6px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-17 {
  top: 879.7px;
  left: 45.6px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.login52,
.no,
.ssps-3-17 {
  position: absolute;
}
.login52 {
  top: 497.7px;
  left: 807.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 95px;
  height: 36px;
  cursor: pointer;
}
.no {
  top: 504.7px;
  left: calc(50% + 103.6px);
  font-size: var(--font-size-mid);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 64px;
  height: 18px;
}
.login53 {
  top: 497.7px;
  left: 579.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 95px;
  height: 36px;
  cursor: pointer;
}
.login53,
.option418,
.yes {
  position: absolute;
}
.yes {
  top: 506.7px;
  left: calc(50% - 124.4px);
  font-size: var(--font-size-mid);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 64px;
  height: 18px;
}
.option418 {
  height: 3.03%;
  width: 11.32%;
  top: 41.67%;
  left: 47.4%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.login54 {
  position: absolute;
  top: 749.7px;
  left: 374.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.remove-a-printer3 {
  position: absolute;
  top: 758.7px;
  left: calc(50% - 313.4px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login55 {
  position: absolute;
  top: 749.7px;
  left: 686.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.add-a-printer3 {
  position: absolute;
  top: 774.7px;
  left: calc(50% + 4.6px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login56 {
  position: absolute;
  top: 677.7px;
  left: 120.6px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div33 {
  top: 693.7px;
  left: 163.6px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.div33,
.div34,
.login57 {
  position: absolute;
}
.login57 {
  top: 677.7px;
  left: 203.6px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div34 {
  top: 693.7px;
  left: 245.6px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.login58,
.login59,
.login60 {
  position: absolute;
  top: 677.7px;
  left: 286.6px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.login59,
.login60 {
  top: 678.7px;
  left: 37.6px;
}
.login60 {
  top: 677.7px;
  left: 369.6px;
}
.div35,
.div36,
.div37 {
  position: absolute;
  top: 688.7px;
  left: 329.6px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 15px;
  height: 48px;
}
.div36,
.div37 {
  top: 691.7px;
  left: 412.6px;
  width: 22px;
  height: 49px;
}
.div37 {
  top: 693.7px;
  left: 75.6px;
  width: 32px;
  height: 48px;
}
.comfirmation-of-removing {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
