.email-icon478 {
  position: absolute;
  top: 246px;
  left: 0;
  width: 721px;
  height: 71px;
}
.configure-system-child,
.email-icon479 {
  position: absolute;
  top: 859.2px;
  left: 15.1px;
  width: 3px;
  height: 7px;
}
.email-icon479 {
  top: 860.7px;
  left: 0;
  width: 1440px;
  height: 163.3px;
}
.option552,
.option553 {
  position: absolute;
  width: 20.49%;
  top: 87.47%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option552 {
  height: 6.45%;
  left: 10.11%;
  text-align: center;
  justify-content: center;
}
.option553 {
  height: 3.22%;
  left: 33.58%;
}
.option553,
.option554,
.option555 {
  text-align: center;
  justify-content: center;
}
.option554 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.47%;
  left: 61.78%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option555 {
  top: 91.38%;
  left: 62.26%;
}
.option555,
.option556,
.option557 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option556 {
  top: 91.67%;
  left: 28.24%;
  text-align: center;
  justify-content: center;
}
.option557 {
  top: 94.6%;
  left: 65.32%;
}
.streamlinehq-programming-web-icon12 {
  position: absolute;
  top: 897.7px;
  left: 539.6px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon12 {
  position: absolute;
  top: 902.7px;
  left: 895.6px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon12 {
  position: absolute;
  top: 939.7px;
  left: 894.6px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-18 {
  position: absolute;
  top: 879.7px;
  left: 45.6px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.option558 {
  position: absolute;
  width: 7.01%;
  top: 25.68%;
  left: 6.6%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon480 {
  position: absolute;
  top: 246px;
  left: 713px;
  width: 727px;
  height: 71px;
}
.option559 {
  position: absolute;
  width: 31.25%;
  top: 25.78%;
  left: 56.6%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.frame-child7 {
  position: relative;
  width: 16px;
  height: 16px;
}
.configure-system-inner {
  position: absolute;
  top: 204px;
  left: 418px;
  width: 27px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icn-arrow-16x162 {
  position: absolute;
  height: 1.44%;
  width: 1.42%;
  top: 18.36%;
  right: 96.81%;
  bottom: 80.21%;
  left: 1.78%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login83 {
  position: absolute;
  top: 188px;
  left: 0;
  background-color: rgba(114, 177, 255, 0.93);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 1440px;
  height: 58px;
}
.email-icon481 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
  cursor: pointer;
}
.option560 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon482 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
  cursor: pointer;
}
.option561 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon483 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option562 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon484 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
  cursor: pointer;
}
.option563 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon485 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
  cursor: pointer;
}
.log-out24,
.option564 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option564 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out24 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login84 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out25 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon486 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option565 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-19 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
  cursor: pointer;
}
.default-configuration {
  position: absolute;
  top: 207px;
  left: 586px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
  width: 268px;
}
.icn-arrow-16x163 {
  position: absolute;
  height: 1.44%;
  width: 2.12%;
  top: 18.36%;
  right: 45.31%;
  bottom: 80.21%;
  left: 52.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.option566 {
  position: absolute;
  width: 12.5%;
  top: 25.68%;
  left: 19.1%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.frame-child8 {
  position: relative;
  width: 32px;
  height: 32px;
}
.configure-system-inner1 {
  top: 263px;
  left: 474px;
  flex-direction: row;
  justify-content: flex-start;
}
.configure-system-inner1,
.configure-system-inner2,
.option567 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option567 {
  width: 12.5%;
  top: 25.59%;
  left: 68.89%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.configure-system-inner2 {
  top: 262px;
  left: 1191px;
  flex-direction: row;
  justify-content: flex-start;
}
.email-icon487 {
  position: absolute;
  top: 63px;
  left: 0;
  width: 1440px;
  height: 71px;
}
.option568 {
  position: absolute;
  width: 10%;
  top: 7.65%;
  left: 43.85%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.configure-system {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
