.email6 {
  position: absolute;
  top: 307.7px;
  left: -0.4px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option103 {
  height: 3.07%;
  width: 29.77%;
  left: 9.35%;
}
.option103,
.option104,
.option105,
.option106 {
  position: absolute;
  top: 31.32%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option104 {
  height: 3.13%;
  width: 17.43%;
  left: 65.94%;
}
.option105,
.option106 {
  height: 3.07%;
}
.option105 {
  width: 27.67%;
  left: 69.76%;
  text-align: right;
}
.option106 {
  width: 29.77%;
  left: 35.11%;
}
.email7 {
  position: absolute;
  top: 370.7px;
  left: -0.4px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option107 {
  height: 3.07%;
  width: 29.77%;
  left: 9.35%;
}
.option107,
.option108,
.option109,
.option110 {
  position: absolute;
  top: 37.47%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option108 {
  height: 3.13%;
  width: 17.43%;
  left: 65.94%;
}
.option109,
.option110 {
  height: 3.07%;
}
.option109 {
  width: 27.67%;
  left: 69.76%;
  text-align: right;
}
.option110 {
  width: 29.77%;
  left: 35.11%;
}
.email8 {
  position: absolute;
  top: 433.7px;
  left: -0.4px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option111 {
  height: 3.07%;
  width: 29.77%;
  left: 9.35%;
}
.option111,
.option112,
.option113,
.option114 {
  position: absolute;
  top: 43.62%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option112 {
  height: 3.13%;
  width: 17.43%;
  left: 65.94%;
}
.option113,
.option114 {
  height: 3.07%;
}
.option113 {
  width: 27.67%;
  left: 69.76%;
  text-align: right;
}
.option114 {
  width: 29.77%;
  left: 35.11%;
}
.email9 {
  position: absolute;
  top: 496.7px;
  left: -0.4px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option115 {
  height: 3.07%;
  width: 29.77%;
  left: 9.35%;
}
.option115,
.option116,
.option117,
.option118 {
  position: absolute;
  top: 49.78%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option116 {
  height: 3.13%;
  width: 17.43%;
  left: 65.94%;
}
.option117,
.option118 {
  height: 3.07%;
}
.option117 {
  width: 27.67%;
  left: 69.76%;
  text-align: right;
}
.option118 {
  width: 29.77%;
  left: 35.11%;
}
.email10 {
  position: absolute;
  top: 559.7px;
  left: -0.4px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option119 {
  height: 3.07%;
  width: 29.77%;
  left: 9.35%;
}
.option119,
.option120,
.option121,
.option122 {
  position: absolute;
  top: 55.93%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option120 {
  height: 3.13%;
  width: 17.43%;
  left: 65.94%;
}
.option121,
.option122 {
  height: 3.07%;
}
.option121 {
  width: 27.67%;
  left: 69.76%;
  text-align: right;
}
.option122 {
  width: 29.77%;
  left: 35.11%;
}
.email11 {
  position: absolute;
  top: 622.7px;
  left: -0.4px;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option123 {
  height: 3.07%;
  width: 29.77%;
  left: 9.35%;
}
.option123,
.option124,
.option125,
.option126 {
  position: absolute;
  top: 62.08%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option124 {
  height: 3.13%;
  width: 17.43%;
  left: 65.94%;
}
.option125,
.option126 {
  height: 3.07%;
}
.option125 {
  width: 27.67%;
  left: 69.76%;
  text-align: right;
}
.option126 {
  width: 29.77%;
  left: 35.11%;
}
.email-icon48,
.log-printer-child {
  position: absolute;
  top: 859.2px;
  left: 15.1px;
  width: 3px;
  height: 7px;
}
.email-icon48 {
  top: 860.7px;
  left: 0;
  width: 1440px;
  height: 163.3px;
}
.option127,
.option128 {
  position: absolute;
  width: 20.49%;
  top: 87.47%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--white);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option127 {
  height: 6.45%;
  left: 10.11%;
  text-align: center;
  justify-content: center;
}
.option128 {
  height: 3.22%;
  left: 33.58%;
}
.option128,
.option129,
.option130 {
  text-align: center;
  justify-content: center;
}
.option129 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.47%;
  left: 61.78%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--white);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option130 {
  top: 91.38%;
  left: 62.26%;
}
.option130,
.option131,
.option132 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--white);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option131 {
  top: 91.67%;
  left: 28.24%;
  text-align: center;
  justify-content: center;
}
.option132 {
  top: 94.6%;
  left: 65.32%;
}
.streamlinehq-programming-web-icon4 {
  position: absolute;
  top: 897.7px;
  left: 539.6px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon4 {
  position: absolute;
  top: 902.7px;
  left: 895.6px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon4 {
  position: absolute;
  top: 939.7px;
  left: 894.6px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-13 {
  top: 879.7px;
  left: 45.6px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.div5,
.login10,
.ssps-3-13 {
  position: absolute;
}
.login10 {
  top: 707px;
  left: 127px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div5 {
  top: 727px;
  left: 156px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.login11 {
  top: 707px;
  left: 44px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div6,
.login11,
.login12 {
  position: absolute;
}
.login12 {
  top: 707px;
  left: 378px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div6 {
  top: 727px;
  left: 73px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 44px;
  height: 51px;
}
.login13 {
  top: 707px;
  left: 210px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div7,
.login13,
.login14 {
  position: absolute;
}
.div7 {
  top: 727px;
  left: 239px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.login14 {
  top: 707px;
  left: 293px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div8,
.div9 {
  position: absolute;
  font-weight: 600;
  font-family: var(--font-inter);
  height: 51px;
}
.div8 {
  top: 727px;
  left: 322px;
  display: inline-block;
  width: 14px;
}
.div9 {
  top: 714px;
  left: 384px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
}
.email-icon49,
.email-icon50 {
  position: absolute;
  left: 0;
  height: 71px;
}
.email-icon49 {
  top: 189px;
  width: 291px;
  cursor: pointer;
}
.email-icon50 {
  top: 62.7px;
  width: 1440px;
}
.option133 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon51 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
  cursor: pointer;
}
.option134 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon52 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option135 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon53 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
  cursor: pointer;
}
.option136 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon54 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
  cursor: pointer;
}
.option137 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon55 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out8,
.option138 {
  position: absolute;
  color: var(--white);
  display: flex;
  align-items: center;
}
.option138 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out8 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login15 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out9 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon56 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option139 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-11 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option140 {
  position: absolute;
  width: 12.43%;
  top: 20.12%;
  left: 2.64%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon57 {
  position: absolute;
  top: 189px;
  left: 283px;
  width: 297px;
  height: 71px;
}
.option141 {
  position: absolute;
  width: 12.5%;
  top: 20.21%;
  left: 22.64%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.frame-inner {
  position: relative;
  width: 32px;
  height: 32px;
}
.log-printer-inner,
.log-printer-inner1 {
  position: absolute;
  top: 205px;
  left: 251px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.log-printer-inner1 {
  top: 207px;
  left: 525px;
}
.icn-arrow-16x161 {
  position: absolute;
  height: 1.44%;
  width: 1.27%;
  top: 24.41%;
  right: 97.13%;
  bottom: 74.15%;
  left: 1.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login16 {
  position: absolute;
  top: 250px;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 430px;
  height: 58px;
}
.results1 {
  position: absolute;
  top: 269px;
  left: 181px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 86px;
}
.log-printer {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-abel);
}
