.email-icon38,
.log-student-child {
  position: absolute;
  top: 859.5px;
  left: 15.5px;
  width: 3px;
  height: 7px;
}
.email-icon38 {
  top: 861px;
  left: 0;
  width: 1440px;
  height: 163px;
}
.option64,
.option65 {
  position: absolute;
  width: 20.49%;
  top: 87.5%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--white);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option64 {
  height: 6.45%;
  left: 10.14%;
  text-align: center;
  justify-content: center;
}
.option65 {
  height: 3.22%;
  left: 33.61%;
}
.option65,
.option66,
.option67 {
  text-align: center;
  justify-content: center;
}
.option66 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.5%;
  left: 61.81%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--white);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option67 {
  top: 91.41%;
  left: 62.29%;
}
.option67,
.option68,
.option69 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--white);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option68 {
  top: 91.7%;
  left: 28.26%;
  text-align: center;
  justify-content: center;
}
.option69 {
  top: 94.63%;
  left: 65.35%;
}
.streamlinehq-programming-web-icon3 {
  position: absolute;
  top: 898px;
  left: 540px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon3 {
  position: absolute;
  top: 903px;
  left: 896px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon3 {
  position: absolute;
  top: 940px;
  left: 895px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-12 {
  position: absolute;
  top: 880px;
  left: 46px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.login3 {
  position: absolute;
  top: 711px;
  left: 129px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div {
  top: 731px;
  left: 158px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div,
.div1,
.login4 {
  position: absolute;
}
.login4 {
  top: 711px;
  left: 212px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div1 {
  top: 731px;
  left: 241px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.login5,
.login6,
.login7 {
  position: absolute;
  top: 711px;
  left: 295px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.login6,
.login7 {
  top: 712px;
  left: 46px;
}
.login7 {
  top: 711px;
  left: 378px;
}
.div2,
.div3,
.div4 {
  position: absolute;
  top: 726px;
  left: 325px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div3,
.div4 {
  top: 729px;
  left: 407px;
  width: 23px;
}
.div4 {
  top: 731px;
  left: 72px;
  width: 31px;
}
.email-icon39 {
  position: absolute;
  top: 189px;
  left: 0;
  width: 291px;
  height: 71px;
}
.option70 {
  position: absolute;
  width: 12.43%;
  top: 20.12%;
  left: 2.64%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon40 {
  position: absolute;
  top: 62.7px;
  left: 0;
  width: 1440px;
  height: 71px;
}
.option71 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon41 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
  cursor: pointer;
}
.option72 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon42 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option73 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon43 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
  cursor: pointer;
}
.option74 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon44 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
  cursor: pointer;
}
.option75 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon45 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
  cursor: pointer;
}
.log-out6,
.option76 {
  position: absolute;
  color: var(--white);
  display: flex;
  align-items: center;
}
.option76 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out6 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login8 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out7 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon46 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option77 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon47,
.ssps-1-1 {
  position: absolute;
  cursor: pointer;
}
.ssps-1-1 {
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.email-icon47 {
  top: 189px;
  left: 283px;
  width: 297px;
  height: 71px;
}
.option78 {
  position: absolute;
  width: 12.5%;
  top: 20.21%;
  left: 22.64%;
  line-height: 32px;
  color: var(--white);
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.frame-child {
  position: relative;
  width: 32px;
  height: 32px;
}
.frame-div,
.log-student-inner {
  position: absolute;
  top: 205px;
  left: 251px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.frame-div {
  top: 207px;
  left: 525px;
}
.icn-arrow-16x16 {
  position: absolute;
  height: 1.44%;
  width: 1.27%;
  top: 24.41%;
  right: 97.13%;
  bottom: 74.15%;
  left: 1.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.login9 {
  top: 250px;
  left: 0;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 430px;
  height: 64px;
}
.email,
.login9,
.results {
  position: absolute;
}
.results {
  top: 269px;
  left: 181px;
  font-weight: 600;
  font-family: var(--font-inter);
  display: inline-block;
  width: 86px;
}
.email {
  top: 314px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option79 {
  height: 3.07%;
  width: 29.77%;
  left: 9.38%;
}
.option79,
.option80,
.option81,
.option82 {
  position: absolute;
  top: 31.93%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option80 {
  height: 3.13%;
  width: 17.43%;
  left: 65.97%;
}
.option81,
.option82 {
  height: 3.07%;
}
.option81 {
  width: 27.67%;
  left: 69.79%;
  text-align: right;
}
.option82 {
  width: 29.77%;
  left: 35.14%;
}
.email1 {
  position: absolute;
  top: 377px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option83 {
  height: 3.07%;
  width: 29.77%;
  left: 9.38%;
}
.option83,
.option84,
.option85,
.option86 {
  position: absolute;
  top: 38.09%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option84 {
  height: 3.13%;
  width: 17.43%;
  left: 65.97%;
}
.option85,
.option86 {
  height: 3.07%;
}
.option85 {
  width: 27.67%;
  left: 69.79%;
  text-align: right;
}
.option86 {
  width: 29.77%;
  left: 35.14%;
}
.email2 {
  position: absolute;
  top: 440px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option87 {
  height: 3.07%;
  width: 29.77%;
  left: 9.38%;
}
.option87,
.option88,
.option89,
.option90 {
  position: absolute;
  top: 44.24%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option88 {
  height: 3.13%;
  width: 17.43%;
  left: 65.97%;
}
.option89,
.option90 {
  height: 3.07%;
}
.option89 {
  width: 27.67%;
  left: 69.79%;
  text-align: right;
}
.option90 {
  width: 29.77%;
  left: 35.14%;
}
.email3 {
  position: absolute;
  top: 503px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option91 {
  height: 3.07%;
  width: 29.77%;
  left: 9.38%;
}
.option91,
.option92,
.option93,
.option94 {
  position: absolute;
  top: 50.39%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option92 {
  height: 3.13%;
  width: 17.43%;
  left: 65.97%;
}
.option93,
.option94 {
  height: 3.07%;
}
.option93 {
  width: 27.67%;
  left: 69.79%;
  text-align: right;
}
.option94 {
  width: 29.77%;
  left: 35.14%;
}
.email4 {
  position: absolute;
  top: 566px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option95 {
  height: 3.07%;
  width: 29.77%;
  left: 9.38%;
}
.option95,
.option96,
.option97,
.option98 {
  position: absolute;
  top: 56.54%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option96 {
  height: 3.13%;
  width: 17.43%;
  left: 65.97%;
}
.option97,
.option98 {
  height: 3.07%;
}
.option97 {
  width: 27.67%;
  left: 69.79%;
  text-align: right;
}
.option98 {
  width: 29.77%;
  left: 35.14%;
}
.email5 {
  position: absolute;
  top: 629px;
  left: 0;
  background-color: var(--white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 1440px;
  height: 63px;
}
.option99 {
  height: 3.07%;
  width: 29.77%;
  left: 9.38%;
}
.option100,
.option101,
.option102,
.option99 {
  position: absolute;
  top: 62.7%;
  line-height: 32px;
  display: flex;
  align-items: center;
}
.option100 {
  height: 3.13%;
  width: 17.43%;
  left: 65.97%;
}
.option101,
.option102 {
  height: 3.07%;
}
.option101 {
  width: 27.67%;
  left: 69.79%;
  text-align: right;
}
.option102 {
  width: 29.77%;
  left: 35.14%;
}
.log-student {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-abel);
}
