.email-icon488 {
  position: absolute;
  top: 63px;
  left: 0;
  width: 1440px;
  height: 71px;
}
.option569 {
  position: absolute;
  width: 7.36%;
  top: 7.62%;
  left: 2.85%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon489,
.option570 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 118px;
  height: 68px;
}
.option570 {
  height: 3.03%;
  width: 12.43%;
  top: 29%;
  left: 1.53%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon490,
.email-icon491 {
  position: absolute;
  top: 343px;
  left: 0;
  width: 118px;
  height: 68px;
}
.email-icon491 {
  top: 126px;
  width: 291px;
  height: 71px;
  cursor: pointer;
}
.option571,
.option572 {
  position: absolute;
  width: 12.43%;
  top: 13.96%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option572 {
  height: 3.03%;
  top: 35.06%;
  left: 3.13%;
}
.email-icon492 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.option573 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon493 {
  position: absolute;
  top: 126px;
  left: 283px;
  width: 297px;
  height: 71px;
  cursor: pointer;
}
.option574 {
  position: absolute;
  width: 12.5%;
  top: 14.06%;
  left: 22.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon494 {
  position: absolute;
  top: 126px;
  left: 860px;
  width: 297px;
  height: 71px;
  cursor: pointer;
}
.option575 {
  position: absolute;
  width: 12.5%;
  top: 14.06%;
  left: 62.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon495 {
  position: absolute;
  top: 126px;
  left: 1149px;
  width: 291px;
  height: 71px;
  cursor: pointer;
}
.option576 {
  position: absolute;
  width: 12.5%;
  top: 14.06%;
  left: 82.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon496 {
  position: absolute;
  top: 126px;
  left: 572px;
  width: 296px;
  height: 71px;
}
.option577 {
  position: absolute;
  width: 12.57%;
  top: 14.06%;
  left: 42.57%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon497,
.option578 {
  position: absolute;
  top: 403px;
  left: 0;
  width: 118px;
  height: 69px;
}
.option578 {
  height: 3.03%;
  width: 12.43%;
  top: 40.92%;
  left: 3.13%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon498,
.option579 {
  position: absolute;
  top: 464px;
  left: 0;
  width: 118px;
  height: 68px;
}
.option579 {
  height: 3.03%;
  width: 12.43%;
  top: 46.88%;
  left: 3.13%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon499,
.option580 {
  position: absolute;
  top: 524px;
  left: 0;
  width: 118px;
  height: 68px;
}
.option580 {
  height: 3.03%;
  width: 12.43%;
  top: 52.73%;
  left: 3.13%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon500,
.option581 {
  position: absolute;
  top: 584px;
  left: 0;
  width: 118px;
  height: 69px;
}
.option581 {
  height: 3.03%;
  width: 12.43%;
  top: 58.69%;
  left: 3.13%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.manage-printer-child {
  position: absolute;
  top: 605px;
  left: 12px;
  background-color: var(--color-limegreen);
  width: 26px;
  height: 25px;
  cursor: pointer;
}
.manage-printer-inner,
.manage-printer-item {
  position: absolute;
  top: 361px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 25px;
}
.manage-printer-inner {
  top: 542px;
}
.frame-child10 {
  position: relative;
  width: 32px;
  height: 32px;
}
.manage-printer-inner1 {
  position: absolute;
  top: 239px;
  left: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.login85 {
  position: absolute;
  top: 747px;
  left: 356px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
  cursor: pointer;
}
.remove-a-printer6 {
  position: absolute;
  top: 756px;
  left: calc(50% - 332px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login86 {
  position: absolute;
  top: 747px;
  left: 668px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
  cursor: pointer;
}
.add-a-printer6 {
  position: absolute;
  top: 772px;
  left: calc(50% - 14px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login87 {
  position: absolute;
  top: 670px;
  left: 103px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div48 {
  top: 686px;
  left: 146px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.div48,
.div49,
.login88 {
  position: absolute;
}
.login88 {
  top: 670px;
  left: 186px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div49 {
  top: 686px;
  left: 228px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.login89,
.login90,
.login91 {
  position: absolute;
  top: 670px;
  left: 269px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.login90,
.login91 {
  top: 671px;
  left: 20px;
}
.login91 {
  top: 670px;
  left: 352px;
}
.div50,
.div51,
.div52 {
  position: absolute;
  top: 681px;
  left: 312px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 15px;
  height: 48px;
}
.div51,
.div52 {
  top: 684px;
  left: 395px;
  width: 22px;
  height: 49px;
}
.div52 {
  top: 686px;
  left: 58px;
  width: 32px;
  height: 48px;
}
.email-icon501,
.email-icon502 {
  position: absolute;
  top: 285px;
  left: 110px;
  width: 295px;
  height: 69px;
}
.email-icon502 {
  top: 344px;
  height: 68px;
}
.email-icon503,
.email-icon504,
.email-icon505 {
  position: absolute;
  top: 404px;
  left: 110px;
  width: 295px;
  height: 69px;
}
.email-icon504,
.email-icon505 {
  top: 464px;
  height: 68px;
}
.email-icon505 {
  top: 525px;
  height: 69px;
}
.manage-printer-child1 {
  position: absolute;
  top: 482px;
  left: 12px;
  background-color: var(--color-limegreen);
  width: 26px;
  height: 25px;
  cursor: pointer;
}
.email-icon506 {
  position: absolute;
  top: 586px;
  left: 110px;
  width: 295px;
  height: 68px;
}
.manage-printer-child2 {
  position: absolute;
  top: 422px;
  left: 12px;
  background-color: var(--color-limegreen);
  width: 26px;
  height: 25px;
  cursor: pointer;
}
.email-icon507,
.email-icon508 {
  position: absolute;
  top: 286px;
  left: 601px;
  width: 295px;
  height: 69px;
}
.email-icon508 {
  top: 345px;
  height: 68px;
}
.option582,
.option583 {
  position: absolute;
  height: 3.03%;
  width: 12.43%;
  top: 29.3%;
  left: 48.89%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option583 {
  top: 35.16%;
}
.email-icon509,
.option584 {
  position: absolute;
  top: 405px;
  left: 601px;
  width: 295px;
  height: 69px;
}
.option584 {
  height: 3.03%;
  width: 12.43%;
  top: 41.02%;
  left: 48.89%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon510,
.option585 {
  position: absolute;
  top: 466px;
  left: 601px;
  width: 295px;
  height: 68px;
}
.option585 {
  height: 3.03%;
  width: 12.43%;
  top: 46.97%;
  left: 48.89%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon511,
.option586 {
  position: absolute;
  top: 526px;
  left: 601px;
  width: 295px;
  height: 68px;
}
.option586 {
  height: 3.03%;
  width: 12.43%;
  top: 52.93%;
  left: 48.89%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon512,
.option587 {
  position: absolute;
  top: 586px;
  left: 601px;
  width: 295px;
  height: 69px;
}
.option587 {
  height: 3.03%;
  width: 12.43%;
  top: 58.79%;
  left: 48.89%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon513 {
  position: absolute;
  top: 314.1px;
  left: 888.4px;
  width: 163px;
  height: 42px;
}
.option588 {
  position: absolute;
  width: 12.43%;
  top: 30.77%;
  left: 65.65%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon514,
.email-icon515,
.email-icon516 {
  position: absolute;
  top: 314.1px;
  left: 1043.4px;
  width: 163px;
  height: 42px;
}
.email-icon515,
.email-icon516 {
  left: 1198.4px;
}
.email-icon516 {
  top: 285.1px;
  left: 888.4px;
  width: 473px;
  height: 37px;
}
.email-icon517,
.email-icon518 {
  position: absolute;
  top: 285px;
  left: 1353px;
  width: 87px;
  height: 71px;
}
.email-icon518 {
  top: 348px;
  height: 68px;
}
.option589,
.option590 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 95.9%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option590 {
  top: 35.25%;
  left: 96.53%;
  color: var(--color-limegreen);
}
.email-icon519 {
  position: absolute;
  top: 408px;
  left: 1353px;
  width: 87px;
  height: 68px;
}
.option591 {
  position: absolute;
  width: 12.43%;
  top: 41.11%;
  left: 96.25%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon520 {
  position: absolute;
  top: 467px;
  left: 1353px;
  width: 87px;
  height: 68px;
}
.option592 {
  position: absolute;
  width: 12.43%;
  top: 47.36%;
  left: 96.53%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon521,
.email-icon522 {
  position: absolute;
  top: 527px;
  left: 1353px;
  width: 87px;
  height: 68px;
}
.email-icon522 {
  top: 587px;
}
.option593,
.option594 {
  position: absolute;
  width: 12.43%;
  top: 58.98%;
  left: 96.53%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option594 {
  top: 52.73%;
}
.login92,
.login93 {
  position: absolute;
  top: 349px;
  left: 1434px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
}
.login92 {
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.login93 {
  background-color: var(--color-gray-100);
  height: 33px;
}
.email-icon523,
.email-icon524,
.email-icon525 {
  position: absolute;
  top: 348.1px;
  left: 888.4px;
  width: 163px;
  height: 68px;
}
.email-icon524,
.email-icon525 {
  left: 1043.4px;
}
.email-icon525 {
  left: 1198.4px;
}
.option595,
.option596,
.option597,
.option598,
.option599 {
  position: absolute;
  width: 12.43%;
  top: 27.84%;
  left: 76.42%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option596,
.option597,
.option598,
.option599 {
  top: 35.26%;
  left: 86.07%;
}
.option597,
.option598,
.option599 {
  top: 30.77%;
  left: 76.42%;
}
.option598,
.option599 {
  top: 35.36%;
  left: 63.08%;
}
.option599 {
  top: 35.26%;
  left: 74.96%;
}
.email-icon526,
.email-icon527,
.email-icon528 {
  position: absolute;
  top: 407px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon527,
.email-icon528 {
  left: 1043px;
}
.email-icon528 {
  left: 1198px;
}
.option600,
.option601,
.option602 {
  position: absolute;
  width: 12.43%;
  top: 41.02%;
  left: 86.04%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option601,
.option602 {
  top: 41.11%;
  left: 63.68%;
}
.option602 {
  top: 41.5%;
  left: 74.51%;
}
.email-icon529,
.email-icon530,
.email-icon531 {
  position: absolute;
  top: 467px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon530,
.email-icon531 {
  left: 1043px;
}
.email-icon531 {
  left: 1198px;
}
.option603,
.option604,
.option605 {
  position: absolute;
  width: 12.43%;
  top: 46.88%;
  left: 86.04%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option604,
.option605 {
  top: 46.97%;
  left: 63.06%;
}
.option605 {
  top: 46.88%;
  left: 74.93%;
}
.email-icon532,
.email-icon533,
.email-icon534 {
  position: absolute;
  top: 527px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon533,
.email-icon534 {
  left: 1043px;
}
.email-icon534 {
  left: 1198px;
}
.option606,
.option607,
.option608 {
  position: absolute;
  width: 12.43%;
  top: 52.73%;
  left: 86.04%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option607,
.option608 {
  top: 52.83%;
  left: 62.64%;
}
.option608 {
  left: 76.11%;
}
.email-icon535,
.email-icon536,
.email-icon537 {
  position: absolute;
  top: 587px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon536,
.email-icon537 {
  left: 1043px;
}
.email-icon537 {
  left: 1198px;
}
.option609,
.option610 {
  width: 12.43%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.option609 {
  position: absolute;
  top: 58.59%;
  left: 86.04%;
  display: flex;
  align-items: center;
}
.option610 {
  top: 58.69%;
  left: 63.68%;
}
.log-out26,
.option610,
.option611 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option611 {
  width: 12.43%;
  top: 58.79%;
  left: 74.51%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out26 {
  top: 14.1px;
  left: 1187.4px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login94 {
  position: absolute;
  top: -0.9px;
  left: 1250.4px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out27 {
  position: absolute;
  top: 19.1px;
  left: calc(50% + 589.4px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon538 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314.4px;
  height: 70.1px;
}
.option612 {
  position: absolute;
  width: 6.32%;
  top: 1.57%;
  left: 9.4%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-110 {
  position: absolute;
  top: 0;
  left: 25.4px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.email-icon539,
.email-icon540 {
  position: absolute;
  top: 285px;
  left: 397px;
  width: 212px;
  height: 69px;
}
.email-icon540 {
  top: 344px;
  height: 68px;
}
.option613,
.option614 {
  position: absolute;
  height: 2.93%;
  width: 12.43%;
  top: 29.2%;
  left: 32.78%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option614 {
  top: 35.16%;
  left: 30.14%;
}
.email-icon541,
.option615 {
  position: absolute;
  top: 404px;
  left: 397px;
  width: 212px;
  height: 69px;
}
.option615 {
  height: 3.03%;
  width: 12.43%;
  top: 41.02%;
  left: 30.49%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon542,
.manage-printer-child3 {
  position: absolute;
  top: 856.8px;
  left: 15.8px;
  width: 3px;
  height: 7px;
}
.email-icon542 {
  top: 858.3px;
  left: 0;
  width: 1440px;
  height: 165.7px;
}
.option616,
.option617 {
  position: absolute;
  width: 20.49%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.22deg);
  transform-origin: 0 0;
}
.option616 {
  height: 6.45%;
  top: 87.29%;
  left: 10.15%;
  text-align: center;
  justify-content: center;
}
.option617 {
  height: 3.22%;
  top: 87.41%;
  left: 33.63%;
}
.option617,
.option618,
.option619 {
  text-align: center;
  justify-content: center;
}
.option618 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.56%;
  left: 61.82%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.22deg);
  transform-origin: 0 0;
}
.option619 {
  top: 91.47%;
  left: 62.29%;
}
.option619,
.option620,
.option621 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(0.22deg);
  transform-origin: 0 0;
}
.option620 {
  top: 91.58%;
  left: 28.26%;
  text-align: center;
  justify-content: center;
}
.option621 {
  top: 94.71%;
  left: 65.34%;
}
.streamlinehq-programming-web-icon13 {
  position: absolute;
  top: 897.3px;
  left: 540.1px;
  width: 29.1px;
  height: 29.1px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon13 {
  position: absolute;
  top: 903.7px;
  left: 896.1px;
  width: 23.1px;
  height: 24.1px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon13 {
  position: absolute;
  top: 940.7px;
  left: 894.9px;
  width: 25.1px;
  height: 25.1px;
  overflow: hidden;
}
.ssps-3-19 {
  position: absolute;
  top: 877.4px;
  left: 45.9px;
  width: 96.4px;
  height: 98.4px;
  object-fit: cover;
}
.email-icon543,
.option622 {
  position: absolute;
  top: 465px;
  left: 397px;
  width: 212px;
  height: 68px;
}
.option622 {
  height: 3.03%;
  width: 12.43%;
  top: 46.97%;
  left: 30.14%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon544,
.option623 {
  position: absolute;
  top: 525px;
  left: 397px;
  width: 212px;
  height: 68px;
}
.option623 {
  height: 2.93%;
  width: 12.43%;
  top: 52.93%;
  left: 30.49%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon545 {
  position: absolute;
  top: 585px;
  left: 397px;
  width: 212px;
  height: 69px;
}
.option624,
.option625,
.option626,
.option627,
.option628,
.option629,
.option630 {
  position: absolute;
  height: 3.03%;
  width: 12.43%;
  top: 58.79%;
  left: 30.14%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option625,
.option626,
.option627,
.option628,
.option629,
.option630 {
  top: 29%;
  left: 14.51%;
}
.option626,
.option627,
.option628,
.option629,
.option630 {
  top: 34.86%;
  left: 15.42%;
}
.option627,
.option628,
.option629,
.option630 {
  top: 41.31%;
}
.option628,
.option629,
.option630 {
  top: 46.88%;
  left: 14.51%;
}
.option629,
.option630 {
  top: 53.13%;
  left: 15.35%;
}
.option630 {
  top: 58.69%;
  left: 14.51%;
}
.manage-printer {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
