.image-18-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.email-icon359 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon360,
.email-icon361,
.email-icon362 {
  position: absolute;
  top: 284px;
  left: 110px;
  width: 295px;
  height: 71px;
}
.email-icon361,
.email-icon362 {
  top: 285px;
  left: 601px;
}
.email-icon362 {
  top: 314px;
  left: 888px;
  width: 163px;
  height: 42px;
}
.option419 {
  position: absolute;
  width: 12.43%;
  top: 30.76%;
  left: 65.63%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon363,
.email-icon364,
.email-icon365 {
  position: absolute;
  top: 314px;
  left: 1043px;
  width: 163px;
  height: 42px;
}
.email-icon364,
.email-icon365 {
  left: 1198px;
}
.email-icon365 {
  top: 285px;
  left: 888px;
  width: 473px;
  height: 37px;
}
.email-icon366,
.email-icon367 {
  position: absolute;
  top: 284.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 71px;
}
.email-icon367 {
  top: 347.7px;
  height: 68px;
}
.option420,
.option421 {
  position: absolute;
  width: 12.43%;
  top: 29.17%;
  left: 95.88%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option421 {
  top: 35.22%;
  left: 96.5%;
  color: var(--color-limegreen);
}
.email-icon368 {
  position: absolute;
  top: 410.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option422 {
  position: absolute;
  width: 12.43%;
  top: 41.38%;
  left: 96.22%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon369 {
  position: absolute;
  top: 473.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option423 {
  position: absolute;
  width: 12.43%;
  top: 47.63%;
  left: 96.5%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon370,
.email-icon371 {
  position: absolute;
  top: 536.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.email-icon371 {
  top: 598.7px;
  left: 1351.6px;
  width: 88.4px;
}
.option424,
.option425 {
  position: absolute;
  width: 12.43%;
  top: 59.93%;
  left: 96.43%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option425 {
  top: 53.68%;
}
.login61,
.login62 {
  position: absolute;
  top: 348.7px;
  left: 1433.6px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
}
.login61 {
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.login62 {
  background-color: var(--color-gray-100);
  height: 33px;
}
.email-icon372 {
  position: absolute;
  top: 284px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.email-icon373,
.email-icon374,
.email-icon375 {
  position: absolute;
  top: 345px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon374,
.email-icon375 {
  left: 110px;
  width: 295px;
}
.email-icon375 {
  top: 346px;
  left: 601px;
}
.email-icon376,
.email-icon377,
.email-icon378,
.email-icon379 {
  position: absolute;
  top: 348px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon377,
.email-icon378,
.email-icon379 {
  left: 1043px;
}
.email-icon378,
.email-icon379 {
  left: 1198px;
}
.email-icon379 {
  top: 345px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option426,
.option427 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option427 {
  top: 35.35%;
}
.option428,
.option429,
.option430,
.option431,
.option432,
.option433,
.option434,
.option435,
.option436,
.option437 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 32.43%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option429,
.option430,
.option431,
.option432,
.option433,
.option434,
.option435,
.option436,
.option437 {
  top: 35.35%;
}
.option430,
.option431,
.option432,
.option433,
.option434,
.option435,
.option436,
.option437 {
  width: 6.46%;
  top: 29.3%;
  left: 48.89%;
}
.option431,
.option432,
.option433,
.option434,
.option435,
.option436,
.option437 {
  width: 12.43%;
  top: 35.35%;
}
.option432,
.option433,
.option434,
.option435,
.option436,
.option437 {
  top: 27.83%;
  left: 76.39%;
}
.option433,
.option434,
.option435,
.option436,
.option437 {
  top: 30.76%;
  left: 87.78%;
}
.option434,
.option435,
.option436,
.option437 {
  top: 35.25%;
  left: 86.04%;
}
.option435,
.option436,
.option437 {
  top: 30.76%;
  left: 76.39%;
}
.option436,
.option437 {
  top: 29.2%;
  left: 3.13%;
}
.option437 {
  top: 35.35%;
}
.email-icon380,
.email-icon381 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.email-icon381 {
  top: 62.7px;
  width: 1440px;
}
.option438 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon382 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
}
.option439 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon383 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option440 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon384 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option441 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon385 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
}
.option442 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon386 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out20,
.option443 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option443 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out20 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login63 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
}
.log-out21 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon387 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option444 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-17 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option445,
.option446,
.option447 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option446,
.option447 {
  top: 35.35%;
  left: 64.31%;
}
.option447 {
  top: 35.25%;
  left: 74.93%;
}
.email-icon388,
.email-icon389,
.email-icon390 {
  position: absolute;
  top: 408px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon389,
.email-icon390 {
  left: 110px;
  width: 295px;
}
.email-icon390 {
  top: 409px;
  left: 601px;
}
.email-icon391,
.email-icon392,
.email-icon393,
.email-icon394 {
  position: absolute;
  top: 411px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon392,
.email-icon393,
.email-icon394 {
  left: 1043px;
}
.email-icon393,
.email-icon394 {
  left: 1198px;
}
.email-icon394 {
  top: 408px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option448,
.option449,
.option450,
.option451,
.option452,
.option453,
.option454 {
  position: absolute;
  width: 12.43%;
  top: 41.5%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option449,
.option450,
.option451,
.option452,
.option453,
.option454 {
  left: 32.43%;
}
.option450,
.option451,
.option452,
.option453,
.option454 {
  left: 48.89%;
}
.option451,
.option452,
.option453,
.option454 {
  top: 41.41%;
  left: 86.04%;
}
.option452,
.option453,
.option454 {
  top: 41.5%;
  left: 3.13%;
}
.option453,
.option454 {
  left: 64.31%;
}
.option454 {
  top: 41.41%;
  left: 74.93%;
}
.email-icon395,
.email-icon396,
.email-icon397 {
  position: absolute;
  top: 471px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon396,
.email-icon397 {
  left: 110px;
  width: 295px;
}
.email-icon397 {
  top: 472px;
  left: 601px;
}
.email-icon398,
.email-icon399,
.email-icon400,
.email-icon401 {
  position: absolute;
  top: 474px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon399,
.email-icon400,
.email-icon401 {
  left: 1043px;
}
.email-icon400,
.email-icon401 {
  left: 1198px;
}
.email-icon401 {
  top: 471px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option455,
.option456,
.option457,
.option458,
.option459,
.option460,
.option461 {
  position: absolute;
  width: 12.43%;
  top: 47.66%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option456,
.option457,
.option458,
.option459,
.option460,
.option461 {
  left: 32.43%;
}
.option457,
.option458,
.option459,
.option460,
.option461 {
  left: 48.89%;
}
.option458,
.option459,
.option460,
.option461 {
  top: 47.56%;
  left: 86.04%;
}
.option459,
.option460,
.option461 {
  top: 47.66%;
  left: 3.13%;
}
.option460,
.option461 {
  left: 64.31%;
}
.option461 {
  top: 47.56%;
  left: 74.93%;
}
.email-icon402,
.email-icon403,
.email-icon404 {
  position: absolute;
  top: 534px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon403,
.email-icon404 {
  left: 110px;
  width: 295px;
}
.email-icon404 {
  top: 535px;
  left: 601px;
}
.email-icon405,
.email-icon406,
.email-icon407,
.email-icon408 {
  position: absolute;
  top: 537px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon406,
.email-icon407,
.email-icon408 {
  left: 1043px;
}
.email-icon407,
.email-icon408 {
  left: 1198px;
}
.email-icon408 {
  top: 534px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option462,
.option463,
.option464,
.option465,
.option466,
.option467,
.option468 {
  position: absolute;
  width: 12.43%;
  top: 53.81%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option463,
.option464,
.option465,
.option466,
.option467,
.option468 {
  left: 32.43%;
}
.option464,
.option465,
.option466,
.option467,
.option468 {
  left: 48.89%;
}
.option465,
.option466,
.option467,
.option468 {
  top: 53.71%;
  left: 86.04%;
}
.option466,
.option467,
.option468 {
  top: 53.81%;
  left: 3.13%;
}
.option467,
.option468 {
  left: 64.31%;
}
.option468 {
  top: 53.71%;
  left: 74.93%;
}
.email-icon409,
.email-icon410,
.email-icon411 {
  position: absolute;
  top: 597px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon410,
.email-icon411 {
  left: 110px;
  width: 295px;
}
.email-icon411 {
  top: 598px;
  left: 601px;
}
.email-icon412,
.email-icon413,
.email-icon414,
.email-icon415 {
  position: absolute;
  top: 600px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon413,
.email-icon414,
.email-icon415 {
  left: 1043px;
}
.email-icon414,
.email-icon415 {
  left: 1198px;
}
.email-icon415 {
  top: 597px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option469,
.option470,
.option471,
.option472,
.option473,
.option474,
.option475 {
  position: absolute;
  width: 12.43%;
  top: 59.96%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option470,
.option471,
.option472,
.option473,
.option474,
.option475 {
  left: 32.43%;
}
.option471,
.option472,
.option473,
.option474,
.option475 {
  left: 48.89%;
}
.option472,
.option473,
.option474,
.option475 {
  top: 59.86%;
  left: 86.04%;
}
.option473,
.option474,
.option475 {
  top: 59.96%;
  left: 3.13%;
}
.option474,
.option475 {
  left: 64.31%;
}
.option475 {
  top: 59.86%;
  left: 74.93%;
}
.notify-remove-child {
  position: absolute;
  top: 302px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.notify-remove-child1,
.notify-remove-child2,
.notify-remove-child3,
.notify-remove-inner,
.notify-remove-item {
  position: absolute;
  top: 364px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.notify-remove-child1,
.notify-remove-child2,
.notify-remove-child3,
.notify-remove-inner {
  top: 425px;
}
.notify-remove-child1,
.notify-remove-child2,
.notify-remove-child3 {
  top: 489px;
}
.notify-remove-child2,
.notify-remove-child3 {
  top: 553px;
}
.notify-remove-child3 {
  top: 614px;
}
.frame-child5 {
  position: relative;
  width: 32px;
  height: 32px;
}
.notify-remove-inner1,
.option476 {
  position: absolute;
  display: flex;
  align-items: center;
}
.notify-remove-inner1 {
  top: 239px;
  left: 351px;
  flex-direction: row;
  justify-content: flex-start;
}
.option476 {
  height: 4.3%;
  width: 43.89%;
  top: 93.46%;
  left: 28.36%;
  line-height: 32px;
  text-align: center;
  justify-content: center;
  mix-blend-mode: exclusion;
}
.email-icon416,
.login64 {
  position: absolute;
  top: 408px;
  left: 499px;
  width: 486px;
  height: 189px;
}
.login64 {
  top: 769px;
  left: 387px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.remove-a-printer4 {
  position: absolute;
  top: 778px;
  left: calc(50% - 301px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login65 {
  position: absolute;
  top: 769px;
  left: 699px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.add-a-printer4 {
  position: absolute;
  top: 794px;
  left: calc(50% + 17px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.option477 {
  position: absolute;
  width: 11.32%;
  top: 46.88%;
  left: 46.88%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.login66 {
  position: absolute;
  top: 390px;
  left: 958px;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 40px;
  height: 39px;
  cursor: pointer;
}
.option478,
.option479,
.x1 {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x1 {
  top: 398px;
  left: 960px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  width: 36px;
  height: 23px;
}
.option478,
.option479 {
  line-height: 32px;
}
.option478 {
  width: 20.49%;
  top: 83.2%;
  left: 37.78%;
  font-size: var(--font-size-5xl);
  font-family: var(--font-roboto);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option479 {
  height: 4.3%;
  width: 43.89%;
  top: 93.1%;
  left: 29.22%;
  mix-blend-mode: exclusion;
}
.email-icon417 {
  position: absolute;
  top: 857px;
  left: 8px;
  width: 1440px;
  height: 167px;
}
.option480,
.option481 {
  position: absolute;
  width: 20.49%;
  top: 87.11%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option480 {
  height: 6.45%;
  left: 10.97%;
  text-align: center;
  justify-content: center;
}
.option481 {
  height: 3.22%;
  left: 34.44%;
}
.option481,
.option482,
.option483 {
  text-align: center;
  justify-content: center;
}
.option482 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.11%;
  left: 62.64%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option483 {
  top: 91.02%;
  left: 63.13%;
}
.option483,
.option484,
.option485 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option484 {
  top: 91.31%;
  left: 29.1%;
  text-align: center;
  justify-content: center;
}
.option485 {
  top: 94.24%;
  left: 66.18%;
}
.streamlinehq-programming-web-icon10 {
  position: absolute;
  top: 894px;
  left: 552px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon10 {
  position: absolute;
  top: 899px;
  left: 908px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon10 {
  position: absolute;
  top: 936px;
  left: 907px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-91 {
  position: absolute;
  top: 876px;
  left: 58px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.login67 {
  position: absolute;
  top: 685px;
  left: 141px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div38 {
  top: 701px;
  left: 184px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.div38,
.div39,
.login68 {
  position: absolute;
}
.login68 {
  top: 685px;
  left: 224px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div39 {
  top: 701px;
  left: 266px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.login69,
.login70,
.login71 {
  position: absolute;
  top: 685px;
  left: 307px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.login70,
.login71 {
  top: 686px;
  left: 58px;
}
.login71 {
  top: 685px;
  left: 390px;
}
.div40,
.div41,
.div42 {
  position: absolute;
  top: 696px;
  left: 350px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 15px;
  height: 48px;
}
.div41,
.div42 {
  top: 699px;
  left: 433px;
  width: 22px;
  height: 49px;
}
.div42 {
  top: 701px;
  left: 96px;
  width: 32px;
  height: 48px;
}
.notify-remove {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
