.image-21-icon1 {
  position: absolute;
  top: 0;
  left: 4px;
  width: 1440px;
  height: 1024px;
  object-fit: cover;
}
.email-icon418 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon419,
.email-icon420,
.email-icon421 {
  position: absolute;
  top: 284px;
  left: 110px;
  width: 295px;
  height: 71px;
}
.email-icon420,
.email-icon421 {
  top: 285px;
  left: 601px;
}
.email-icon421 {
  top: 314px;
  left: 888px;
  width: 163px;
  height: 42px;
}
.option486 {
  position: absolute;
  width: 12.43%;
  top: 30.76%;
  left: 65.63%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon422,
.email-icon423,
.email-icon424 {
  position: absolute;
  top: 314px;
  left: 1043px;
  width: 163px;
  height: 42px;
}
.email-icon423,
.email-icon424 {
  left: 1198px;
}
.email-icon424 {
  top: 285px;
  left: 888px;
  width: 473px;
  height: 37px;
}
.email-icon425,
.email-icon426 {
  position: absolute;
  top: 284.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 71px;
}
.email-icon426 {
  top: 347.7px;
  height: 68px;
}
.option487,
.option488 {
  position: absolute;
  width: 12.43%;
  top: 29.17%;
  left: 95.88%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option488 {
  top: 35.22%;
  left: 96.5%;
  color: var(--color-limegreen);
}
.email-icon427 {
  position: absolute;
  top: 410.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option489 {
  position: absolute;
  width: 12.43%;
  top: 41.38%;
  left: 96.22%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon428 {
  position: absolute;
  top: 473.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option490 {
  position: absolute;
  width: 12.43%;
  top: 47.63%;
  left: 96.5%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon429,
.email-icon430 {
  position: absolute;
  top: 536.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.email-icon430 {
  top: 598.7px;
  left: 1351.6px;
  width: 88.4px;
}
.option491,
.option492 {
  position: absolute;
  width: 12.43%;
  top: 59.93%;
  left: 96.43%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option492 {
  top: 53.68%;
}
.login72,
.login73 {
  position: absolute;
  top: 348.7px;
  left: 1433.6px;
  border-radius: var(--br-mini);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
}
.login72 {
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  height: 312px;
}
.login73 {
  background-color: var(--color-gray-100);
  height: 33px;
}
.email-icon431 {
  position: absolute;
  top: 284px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.email-icon432,
.email-icon433,
.email-icon434 {
  position: absolute;
  top: 345px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon433,
.email-icon434 {
  left: 110px;
  width: 295px;
}
.email-icon434 {
  top: 346px;
  left: 601px;
}
.email-icon435,
.email-icon436,
.email-icon437,
.email-icon438 {
  position: absolute;
  top: 348px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon436,
.email-icon437,
.email-icon438 {
  left: 1043px;
}
.email-icon437,
.email-icon438 {
  left: 1198px;
}
.email-icon438 {
  top: 345px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option493,
.option494 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option494 {
  top: 35.35%;
}
.option495,
.option496,
.option497,
.option498,
.option499,
.option500,
.option501,
.option502,
.option503,
.option504 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 32.43%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option496,
.option497,
.option498,
.option499,
.option500,
.option501,
.option502,
.option503,
.option504 {
  top: 35.35%;
}
.option497,
.option498,
.option499,
.option500,
.option501,
.option502,
.option503,
.option504 {
  width: 6.46%;
  top: 29.3%;
  left: 48.89%;
}
.option498,
.option499,
.option500,
.option501,
.option502,
.option503,
.option504 {
  width: 12.43%;
  top: 35.35%;
}
.option499,
.option500,
.option501,
.option502,
.option503,
.option504 {
  top: 27.83%;
  left: 76.39%;
}
.option500,
.option501,
.option502,
.option503,
.option504 {
  top: 30.76%;
  left: 87.78%;
}
.option501,
.option502,
.option503,
.option504 {
  top: 35.25%;
  left: 86.04%;
}
.option502,
.option503,
.option504 {
  top: 30.76%;
  left: 76.39%;
}
.option503,
.option504 {
  top: 29.2%;
  left: 3.13%;
}
.option504 {
  top: 35.35%;
}
.email-icon439,
.email-icon440 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.email-icon440 {
  top: 62.7px;
  width: 1440px;
}
.option505 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon441 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
}
.option506 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon442 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option507 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon443 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option508 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon444 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
}
.option509 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon445 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out22,
.option510 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option510 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out22 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login74 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out23 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon446 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option511 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-18 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option512,
.option513,
.option514 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option513,
.option514 {
  top: 35.35%;
  left: 64.31%;
}
.option514 {
  top: 35.25%;
  left: 74.93%;
}
.email-icon447,
.email-icon448,
.email-icon449 {
  position: absolute;
  top: 408px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon448,
.email-icon449 {
  left: 110px;
  width: 295px;
}
.email-icon449 {
  top: 409px;
  left: 601px;
}
.email-icon450,
.email-icon451,
.email-icon452,
.email-icon453 {
  position: absolute;
  top: 411px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon451,
.email-icon452,
.email-icon453 {
  left: 1043px;
}
.email-icon452,
.email-icon453 {
  left: 1198px;
}
.email-icon453 {
  top: 408px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option515,
.option516,
.option517,
.option518,
.option519,
.option520,
.option521 {
  position: absolute;
  width: 12.43%;
  top: 41.5%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option516,
.option517,
.option518,
.option519,
.option520,
.option521 {
  left: 32.43%;
}
.option517,
.option518,
.option519,
.option520,
.option521 {
  left: 48.89%;
}
.option518,
.option519,
.option520,
.option521 {
  top: 41.41%;
  left: 86.04%;
}
.option519,
.option520,
.option521 {
  top: 41.5%;
  left: 3.13%;
}
.option520,
.option521 {
  left: 64.31%;
}
.option521 {
  top: 41.41%;
  left: 74.93%;
}
.email-icon454,
.email-icon455,
.email-icon456 {
  position: absolute;
  top: 471px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon455,
.email-icon456 {
  left: 110px;
  width: 295px;
}
.email-icon456 {
  top: 472px;
  left: 601px;
}
.email-icon457,
.email-icon458,
.email-icon459,
.email-icon460 {
  position: absolute;
  top: 474px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon458,
.email-icon459,
.email-icon460 {
  left: 1043px;
}
.email-icon459,
.email-icon460 {
  left: 1198px;
}
.email-icon460 {
  top: 471px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option522,
.option523,
.option524,
.option525,
.option526,
.option527,
.option528 {
  position: absolute;
  width: 12.43%;
  top: 47.66%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option523,
.option524,
.option525,
.option526,
.option527,
.option528 {
  left: 32.43%;
}
.option524,
.option525,
.option526,
.option527,
.option528 {
  left: 48.89%;
}
.option525,
.option526,
.option527,
.option528 {
  top: 47.56%;
  left: 86.04%;
}
.option526,
.option527,
.option528 {
  top: 47.66%;
  left: 3.13%;
}
.option527,
.option528 {
  left: 64.31%;
}
.option528 {
  top: 47.56%;
  left: 74.93%;
}
.email-icon461,
.email-icon462,
.email-icon463 {
  position: absolute;
  top: 534px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon462,
.email-icon463 {
  left: 110px;
  width: 295px;
}
.email-icon463 {
  top: 535px;
  left: 601px;
}
.email-icon464,
.email-icon465,
.email-icon466,
.email-icon467 {
  position: absolute;
  top: 537px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon465,
.email-icon466,
.email-icon467 {
  left: 1043px;
}
.email-icon466,
.email-icon467 {
  left: 1198px;
}
.email-icon467 {
  top: 534px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option529,
.option530,
.option531,
.option532,
.option533,
.option534,
.option535 {
  position: absolute;
  width: 12.43%;
  top: 53.81%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option530,
.option531,
.option532,
.option533,
.option534,
.option535 {
  left: 32.43%;
}
.option531,
.option532,
.option533,
.option534,
.option535 {
  left: 48.89%;
}
.option532,
.option533,
.option534,
.option535 {
  top: 53.71%;
  left: 86.04%;
}
.option533,
.option534,
.option535 {
  top: 53.81%;
  left: 3.13%;
}
.option534,
.option535 {
  left: 64.31%;
}
.option535 {
  top: 53.71%;
  left: 74.93%;
}
.email-icon468,
.email-icon469,
.email-icon470 {
  position: absolute;
  top: 597px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon469,
.email-icon470 {
  left: 110px;
  width: 295px;
}
.email-icon470 {
  top: 598px;
  left: 601px;
}
.email-icon471,
.email-icon472,
.email-icon473,
.email-icon474 {
  position: absolute;
  top: 600px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon472,
.email-icon473,
.email-icon474 {
  left: 1043px;
}
.email-icon473,
.email-icon474 {
  left: 1198px;
}
.email-icon474 {
  top: 597px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option536,
.option537,
.option538,
.option539,
.option540,
.option541,
.option542 {
  position: absolute;
  width: 12.43%;
  top: 59.96%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option537,
.option538,
.option539,
.option540,
.option541,
.option542 {
  left: 32.43%;
}
.option538,
.option539,
.option540,
.option541,
.option542 {
  left: 48.89%;
}
.option539,
.option540,
.option541,
.option542 {
  top: 59.86%;
  left: 86.04%;
}
.option540,
.option541,
.option542 {
  top: 59.96%;
  left: 3.13%;
}
.option541,
.option542 {
  left: 64.31%;
}
.option542 {
  top: 59.86%;
  left: 74.93%;
}
.notify-add-child {
  position: absolute;
  top: 302px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.notify-add-child1,
.notify-add-child2,
.notify-add-child3,
.notify-add-inner,
.notify-add-item {
  position: absolute;
  top: 364px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.notify-add-child1,
.notify-add-child2,
.notify-add-child3,
.notify-add-inner {
  top: 425px;
}
.notify-add-child1,
.notify-add-child2,
.notify-add-child3 {
  top: 489px;
}
.notify-add-child2,
.notify-add-child3 {
  top: 553px;
}
.notify-add-child3 {
  top: 614px;
}
.frame-child6 {
  position: relative;
  width: 32px;
  height: 32px;
}
.notify-add-inner1 {
  position: absolute;
  top: 239px;
  left: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.email-icon475,
.option543 {
  position: absolute;
  top: 935px;
  left: 0;
  width: 1440px;
  height: 89px;
}
.option543 {
  height: 4.3%;
  width: 43.89%;
  top: 93.46%;
  left: 28.36%;
  line-height: 32px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  mix-blend-mode: exclusion;
}
.login75 {
  position: absolute;
  top: 769px;
  left: 387px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.remove-a-printer5 {
  position: absolute;
  top: 778px;
  left: calc(50% - 301px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login76 {
  position: absolute;
  top: 769px;
  left: 699px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.add-a-printer5 {
  position: absolute;
  top: 794px;
  left: calc(50% + 17px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.email-icon476 {
  position: absolute;
  top: 408px;
  left: 499px;
  width: 486px;
  height: 189px;
}
.option544 {
  position: absolute;
  width: 11.32%;
  top: 46.88%;
  left: 46.88%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.login77 {
  position: absolute;
  top: 390px;
  left: 958px;
  border-radius: var(--br-mini);
  background-color: var(--color-red-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray);
  box-sizing: border-box;
  width: 40px;
  height: 39px;
  cursor: pointer;
}
.option545,
.x2 {
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.x2 {
  top: 398px;
  left: 960px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  width: 36px;
  height: 23px;
}
.option545 {
  height: 4.3%;
  width: 43.89%;
  top: 93.49%;
  left: 28.32%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.email-icon477 {
  position: absolute;
  top: 861px;
  left: 0;
  width: 1440px;
  height: 163px;
}
.option546,
.option547 {
  position: absolute;
  width: 20.49%;
  top: 87.5%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option546 {
  height: 6.45%;
  left: 10.07%;
  text-align: center;
  justify-content: center;
}
.option547 {
  height: 3.22%;
  left: 33.54%;
}
.option547,
.option548,
.option549 {
  text-align: center;
  justify-content: center;
}
.option548 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.5%;
  left: 61.74%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option549 {
  top: 91.41%;
  left: 62.22%;
}
.option549,
.option550,
.option551 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option550 {
  top: 91.7%;
  left: 28.19%;
  text-align: center;
  justify-content: center;
}
.option551 {
  top: 94.63%;
  left: 65.28%;
}
.streamlinehq-programming-web-icon11 {
  position: absolute;
  top: 898px;
  left: 539px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon11 {
  position: absolute;
  top: 903px;
  left: 895px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon11 {
  position: absolute;
  top: 940px;
  left: 894px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-10 {
  position: absolute;
  top: 880px;
  left: 45px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.login78 {
  position: absolute;
  top: 687px;
  left: 128px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div43 {
  top: 703px;
  left: 171px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.div43,
.div44,
.login79 {
  position: absolute;
}
.login79 {
  top: 687px;
  left: 211px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.div44 {
  top: 703px;
  left: 253px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 48px;
}
.login80,
.login81,
.login82 {
  position: absolute;
  top: 687px;
  left: 294px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 55px;
}
.login81,
.login82 {
  top: 688px;
  left: 45px;
}
.login82 {
  top: 687px;
  left: 377px;
}
.div45,
.div46,
.div47 {
  position: absolute;
  top: 698px;
  left: 337px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 15px;
  height: 48px;
}
.div46,
.div47 {
  top: 701px;
  left: 420px;
  width: 22px;
  height: 49px;
}
.div47 {
  top: 703px;
  left: 83px;
  width: 32px;
  height: 48px;
}
.notify-add {
  position: relative;
  background-color: var(--color-whitesmoke);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
