.email-icon225 {
  position: absolute;
  top: 284px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon226,
.email-icon227,
.email-icon228 {
  position: absolute;
  top: 284px;
  left: 110px;
  width: 295px;
  height: 71px;
}
.email-icon227,
.email-icon228 {
  top: 285px;
  left: 601px;
}
.email-icon228 {
  top: 314px;
  left: 888px;
  width: 163px;
  height: 42px;
}
.option283 {
  position: absolute;
  width: 12.43%;
  top: 30.76%;
  left: 65.63%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon229,
.email-icon230 {
  position: absolute;
  top: 314px;
  left: 1043px;
  width: 163px;
  height: 42px;
}
.email-icon230 {
  left: 1198px;
}
.email-icon231,
.email-icon232 {
  position: absolute;
  top: 285px;
  left: 888px;
  width: 473px;
  height: 37px;
}
.email-icon232 {
  top: 284px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.email-icon233,
.email-icon234,
.email-icon235 {
  position: absolute;
  top: 345px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon234,
.email-icon235 {
  left: 110px;
  width: 295px;
}
.email-icon235 {
  top: 346px;
  left: 601px;
}
.email-icon236,
.email-icon237,
.email-icon238,
.email-icon239 {
  position: absolute;
  top: 348px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon237,
.email-icon238,
.email-icon239 {
  left: 1043px;
}
.email-icon238,
.email-icon239 {
  left: 1198px;
}
.email-icon239 {
  top: 345px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option284,
.option285 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option285 {
  top: 35.35%;
}
.option286,
.option287,
.option288,
.option289,
.option290,
.option291,
.option292,
.option293,
.option294,
.option295 {
  position: absolute;
  width: 12.43%;
  top: 29.2%;
  left: 32.43%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option287,
.option288,
.option289,
.option290,
.option291,
.option292,
.option293,
.option294,
.option295 {
  top: 35.35%;
}
.option288,
.option289,
.option290,
.option291,
.option292,
.option293,
.option294,
.option295 {
  width: 6.46%;
  top: 29.3%;
  left: 48.89%;
}
.option289,
.option290,
.option291,
.option292,
.option293,
.option294,
.option295 {
  width: 12.43%;
  top: 35.35%;
}
.option290,
.option291,
.option292,
.option293,
.option294,
.option295 {
  top: 27.83%;
  left: 76.39%;
}
.option291,
.option292,
.option293,
.option294,
.option295 {
  top: 30.76%;
  left: 87.78%;
}
.option292,
.option293,
.option294,
.option295 {
  top: 35.25%;
  left: 86.04%;
}
.option293,
.option294,
.option295 {
  top: 30.76%;
  left: 76.39%;
}
.option294,
.option295 {
  top: 29.2%;
  left: 3.13%;
}
.option295 {
  top: 35.35%;
}
.email-icon240,
.email-icon241 {
  position: absolute;
  top: 223px;
  left: 0;
  width: 405px;
  height: 71px;
}
.email-icon241 {
  top: 62.7px;
  width: 1440px;
}
.option296 {
  position: absolute;
  width: 7.36%;
  top: 7.59%;
  left: 2.82%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon242 {
  position: absolute;
  top: 125.7px;
  left: 0;
  width: 290.6px;
  height: 71px;
}
.option297 {
  position: absolute;
  width: 12.43%;
  top: 13.94%;
  left: 2.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon243 {
  position: absolute;
  top: 125.7px;
  left: 282.6px;
  width: 297px;
  height: 71px;
}
.option298 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 22.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon244 {
  position: absolute;
  top: 125.7px;
  left: 859.6px;
  width: 297px;
  height: 71px;
}
.option299 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 62.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon245 {
  position: absolute;
  top: 125.7px;
  left: 1148.6px;
  width: 291.4px;
  height: 71px;
  cursor: pointer;
}
.option300 {
  position: absolute;
  width: 12.5%;
  top: 14.03%;
  left: 82.61%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon246 {
  position: absolute;
  top: 125.7px;
  left: 571.6px;
  width: 296px;
  height: 71px;
}
.log-out16,
.option301 {
  position: absolute;
  display: flex;
  align-items: center;
}
.option301 {
  width: 12.57%;
  top: 14.03%;
  left: 42.54%;
  line-height: 32px;
  mix-blend-mode: exclusion;
}
.log-out16 {
  top: 13.8px;
  left: 1187px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  justify-content: center;
  width: 217px;
  height: 24px;
}
.login39 {
  position: absolute;
  top: -1.2px;
  left: 1250px;
  border-radius: var(--br-mini);
  background-color: var(--color-darkturquoise);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 190px;
  height: 62px;
  cursor: pointer;
}
.log-out17 {
  position: absolute;
  top: 18.8px;
  left: calc(50% + 589px);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 89px;
  height: 30px;
}
.email-icon247 {
  position: absolute;
  top: 0;
  left: 0;
  width: 314px;
  height: 69.8px;
}
.option302 {
  position: absolute;
  width: 6.32%;
  top: 1.54%;
  left: 9.38%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.ssps-1-15 {
  position: absolute;
  top: 0;
  left: 25px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.option303,
.option304,
.option305 {
  position: absolute;
  width: 12.43%;
  top: 23.24%;
  left: 2.64%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option304,
.option305 {
  top: 35.35%;
  left: 64.31%;
}
.option305 {
  top: 35.25%;
  left: 74.93%;
}
.email-icon248,
.email-icon249,
.email-icon250 {
  position: absolute;
  top: 408px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon249,
.email-icon250 {
  left: 110px;
  width: 295px;
}
.email-icon250 {
  top: 409px;
  left: 601px;
}
.email-icon251,
.email-icon252,
.email-icon253,
.email-icon254 {
  position: absolute;
  top: 411px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon252,
.email-icon253,
.email-icon254 {
  left: 1043px;
}
.email-icon253,
.email-icon254 {
  left: 1198px;
}
.email-icon254 {
  top: 408px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option306,
.option307,
.option308,
.option309,
.option310,
.option311,
.option312 {
  position: absolute;
  width: 12.43%;
  top: 41.5%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option307,
.option308,
.option309,
.option310,
.option311,
.option312 {
  left: 32.43%;
}
.option308,
.option309,
.option310,
.option311,
.option312 {
  left: 48.89%;
}
.option309,
.option310,
.option311,
.option312 {
  top: 41.41%;
  left: 86.04%;
}
.option310,
.option311,
.option312 {
  top: 41.5%;
  left: 3.13%;
}
.option311,
.option312 {
  left: 64.31%;
}
.option312 {
  top: 41.41%;
  left: 74.93%;
}
.email-icon255,
.email-icon256,
.email-icon257 {
  position: absolute;
  top: 471px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon256,
.email-icon257 {
  left: 110px;
  width: 295px;
}
.email-icon257 {
  top: 472px;
  left: 601px;
}
.email-icon258,
.email-icon259,
.email-icon260,
.email-icon261 {
  position: absolute;
  top: 474px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon259,
.email-icon260,
.email-icon261 {
  left: 1043px;
}
.email-icon260,
.email-icon261 {
  left: 1198px;
}
.email-icon261 {
  top: 471px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option313,
.option314,
.option315,
.option316,
.option317,
.option318,
.option319 {
  position: absolute;
  width: 12.43%;
  top: 47.66%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option314,
.option315,
.option316,
.option317,
.option318,
.option319 {
  left: 32.43%;
}
.option315,
.option316,
.option317,
.option318,
.option319 {
  left: 48.89%;
}
.option316,
.option317,
.option318,
.option319 {
  top: 47.56%;
  left: 86.04%;
}
.option317,
.option318,
.option319 {
  top: 47.66%;
  left: 3.13%;
}
.option318,
.option319 {
  left: 64.31%;
}
.option319 {
  top: 47.56%;
  left: 74.93%;
}
.email-icon262,
.email-icon263,
.email-icon264 {
  position: absolute;
  top: 534px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon263,
.email-icon264 {
  left: 110px;
  width: 295px;
}
.email-icon264 {
  top: 535px;
  left: 601px;
}
.email-icon265,
.email-icon266,
.email-icon267,
.email-icon268 {
  position: absolute;
  top: 537px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon266,
.email-icon267,
.email-icon268 {
  left: 1043px;
}
.email-icon267,
.email-icon268 {
  left: 1198px;
}
.email-icon268 {
  top: 534px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option320,
.option321,
.option322,
.option323,
.option324,
.option325,
.option326 {
  position: absolute;
  width: 12.43%;
  top: 53.81%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option321,
.option322,
.option323,
.option324,
.option325,
.option326 {
  left: 32.43%;
}
.option322,
.option323,
.option324,
.option325,
.option326 {
  left: 48.89%;
}
.option323,
.option324,
.option325,
.option326 {
  top: 53.71%;
  left: 86.04%;
}
.option324,
.option325,
.option326 {
  top: 53.81%;
  left: 3.13%;
}
.option325,
.option326 {
  left: 64.31%;
}
.option326 {
  top: 53.71%;
  left: 74.93%;
}
.email-icon269,
.email-icon270,
.email-icon271 {
  position: absolute;
  top: 597px;
  left: 0;
  width: 118px;
  height: 71px;
}
.email-icon270,
.email-icon271 {
  left: 110px;
  width: 295px;
}
.email-icon271 {
  top: 598px;
  left: 601px;
}
.email-icon272,
.email-icon273,
.email-icon274,
.email-icon275 {
  position: absolute;
  top: 600px;
  left: 888px;
  width: 163px;
  height: 68px;
}
.email-icon273,
.email-icon274,
.email-icon275 {
  left: 1043px;
}
.email-icon274,
.email-icon275 {
  left: 1198px;
}
.email-icon275 {
  top: 597px;
  left: 397px;
  width: 212px;
  height: 71px;
}
.option327,
.option328,
.option329,
.option330,
.option331,
.option332,
.option333 {
  position: absolute;
  width: 12.43%;
  top: 59.96%;
  left: 14.79%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option328,
.option329,
.option330,
.option331,
.option332,
.option333 {
  left: 32.43%;
}
.option329,
.option330,
.option331,
.option332,
.option333 {
  left: 48.89%;
}
.option330,
.option331,
.option332,
.option333 {
  top: 59.86%;
  left: 86.04%;
}
.option331,
.option332,
.option333 {
  top: 59.96%;
  left: 3.13%;
}
.option332,
.option333 {
  left: 64.31%;
}
.option333 {
  top: 59.86%;
  left: 74.93%;
}
.show-information-of-added-prin-child,
.show-information-of-added-prin-inner,
.show-information-of-added-prin-item {
  position: absolute;
  top: 302px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.show-information-of-added-prin-inner,
.show-information-of-added-prin-item {
  top: 364px;
}
.show-information-of-added-prin-inner {
  top: 425px;
}
.show-information-of-added-prin-child1,
.show-information-of-added-prin-child2,
.show-information-of-added-prin-child3 {
  position: absolute;
  top: 489px;
  left: 12px;
  background-color: var(--color-gainsboro);
  width: 26px;
  height: 26px;
}
.show-information-of-added-prin-child2,
.show-information-of-added-prin-child3 {
  top: 553px;
}
.show-information-of-added-prin-child3 {
  top: 614px;
}
.frame-child3 {
  position: relative;
  width: 32px;
  height: 32px;
}
.show-information-of-added-prin-inner1 {
  position: absolute;
  top: 239px;
  left: 351px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.login40 {
  position: absolute;
  top: 698px;
  left: 130px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div28 {
  top: 718px;
  left: 159px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div28,
.div29,
.login41 {
  position: absolute;
}
.login41 {
  top: 698px;
  left: 213px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.div29 {
  top: 718px;
  left: 242px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.login42,
.login43,
.login44 {
  position: absolute;
  top: 698px;
  left: 296px;
  background-color: var(--color-gray-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 73px;
  height: 58px;
}
.login43,
.login44 {
  top: 699px;
  left: 47px;
}
.login44 {
  top: 698px;
  left: 379px;
}
.div30,
.div31,
.div32 {
  position: absolute;
  top: 713px;
  left: 326px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-black);
  display: inline-block;
  width: 14px;
  height: 51px;
}
.div31,
.div32 {
  top: 716px;
  left: 408px;
  width: 23px;
}
.div32 {
  top: 718px;
  left: 73px;
  width: 31px;
}
.email-icon276,
.login45 {
  position: absolute;
  top: 276.7px;
  left: 345.6px;
  width: 863px;
  height: 432px;
}
.login45 {
  top: 768.7px;
  left: 386.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.remove-a-printer2 {
  position: absolute;
  top: 777.7px;
  left: calc(50% - 301.4px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.login46 {
  position: absolute;
  top: 768.7px;
  left: 698.6px;
  border-radius: var(--br-mini);
  background-color: var(--color-limegreen);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 187px;
  height: 68px;
}
.add-a-printer2 {
  position: absolute;
  top: 793.7px;
  left: calc(50% + 16.6px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.email-icon277 {
  position: absolute;
  top: 297px;
  left: 346px;
  width: 295px;
  height: 71px;
}
.email-icon278,
.email-icon279 {
  position: absolute;
  top: 284.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 71px;
}
.email-icon279 {
  top: 347.7px;
  height: 68px;
}
.option334,
.option335 {
  position: absolute;
  width: 12.43%;
  top: 29.17%;
  left: 95.88%;
  line-height: 32px;
  font-family: var(--font-roboto);
  color: var(--color-black);
  display: flex;
  align-items: center;
}
.option335 {
  top: 35.22%;
  left: 96.5%;
  color: var(--color-limegreen);
}
.email-icon280 {
  position: absolute;
  top: 410.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option336 {
  position: absolute;
  width: 12.43%;
  top: 41.38%;
  left: 96.22%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-red-100);
  align-items: center;
}
.email-icon281 {
  position: absolute;
  top: 473.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.option337 {
  position: absolute;
  width: 12.43%;
  top: 47.63%;
  left: 96.5%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.email-icon282,
.email-icon283 {
  position: absolute;
  top: 536.7px;
  left: 1352.6px;
  width: 87.4px;
  height: 68px;
}
.email-icon283 {
  top: 598.7px;
  left: 1351.6px;
  width: 88.4px;
}
.option338,
.option339 {
  position: absolute;
  width: 12.43%;
  top: 59.93%;
  left: 96.43%;
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  color: var(--color-limegreen);
  align-items: center;
}
.option339 {
  top: 53.68%;
}
.login47 {
  top: 348.7px;
  left: 1433.6px;
  background-color: var(--color-silver-100);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
  height: 312px;
}
.login-icon2,
.login47,
.login48 {
  position: absolute;
  border-radius: var(--br-mini);
}
.login48 {
  top: 348.7px;
  left: 1433.6px;
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-silver-200);
  box-sizing: border-box;
  width: 6px;
  height: 33px;
}
.login-icon2 {
  top: 604.7px;
  left: 680.6px;
  width: 154px;
  height: 67px;
}
.email-icon284,
.show-information-of-added-prin-child4 {
  position: absolute;
  top: 859.2px;
  left: 15.1px;
  width: 3px;
  height: 7px;
}
.email-icon284 {
  top: 860.7px;
  left: 0;
  width: 1440px;
  height: 163.3px;
}
.option340,
.option341 {
  position: absolute;
  width: 20.49%;
  top: 87.47%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option340 {
  height: 6.45%;
  left: 10.11%;
  text-align: center;
  justify-content: center;
}
.option341 {
  height: 3.22%;
  left: 33.58%;
}
.option341,
.option342,
.option343 {
  text-align: center;
  justify-content: center;
}
.option342 {
  position: absolute;
  height: 3.22%;
  width: 20.49%;
  top: 87.47%;
  left: 61.78%;
  font-size: var(--font-size-5xl);
  line-height: 32px;
  display: flex;
  font-family: var(--font-roboto);
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option343 {
  top: 91.38%;
  left: 62.26%;
}
.option343,
.option344,
.option345 {
  position: absolute;
  height: 3.22%;
  width: 30.49%;
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(--font-roboto);
  display: flex;
  align-items: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.option344 {
  top: 91.67%;
  left: 28.24%;
  text-align: center;
  justify-content: center;
}
.option345 {
  top: 94.6%;
  left: 65.32%;
}
.streamlinehq-programming-web-icon8 {
  position: absolute;
  top: 897.7px;
  left: 539.6px;
  width: 29px;
  height: 29px;
  overflow: hidden;
}
.streamlinehq-mail-chat-two-bub-icon8 {
  position: absolute;
  top: 902.7px;
  left: 895.6px;
  width: 23px;
  height: 24px;
  overflow: hidden;
}
.streamlinehq-travel-map-locati-icon8 {
  position: absolute;
  top: 939.7px;
  left: 894.6px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.ssps-3-16 {
  position: absolute;
  top: 879.7px;
  left: 45.6px;
  width: 96px;
  height: 98px;
  object-fit: cover;
}
.add2 {
  position: absolute;
  top: 625.7px;
  left: calc(50% - 25.4px);
  font-size: var(--font-size-lgi);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: center;
  width: 126px;
  height: 34px;
}
.option346 {
  position: absolute;
  width: 11.32%;
  top: 30.57%;
  left: 26.6%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon285,
.email-icon286 {
  position: absolute;
  top: 399px;
  left: 366px;
  width: 76px;
  height: 84px;
}
.email-icon286 {
  top: 473px;
}
.show-information-of-added-prin-child5 {
  position: absolute;
  top: 445px;
  left: 848px;
  background-color: var(--color-gainsboro);
  width: 14px;
  height: 25px;
}
.email-icon287,
.email-icon288 {
  position: absolute;
  top: 400px;
  left: 434px;
  width: 181px;
  height: 85px;
}
.email-icon288 {
  top: 475px;
  height: 82px;
}
.email-icon289,
.email-icon290,
.email-icon291 {
  position: absolute;
  top: 402px;
  left: 730px;
  width: 181px;
  height: 84px;
}
.email-icon290,
.email-icon291 {
  top: 476px;
  height: 81px;
}
.email-icon291 {
  top: 432px;
  left: 903px;
  width: 101px;
  height: 50px;
}
.option347,
.option348,
.option349 {
  position: absolute;
  height: 3.91%;
  width: 7.5%;
  top: 42.29%;
  left: 65.21%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option348,
.option349 {
  top: 41.21%;
  left: 33.47%;
}
.option349 {
  height: 4%;
  top: 39.06%;
  left: 69.44%;
}
.email-icon292,
.email-icon293 {
  position: absolute;
  top: 432px;
  left: 996px;
  width: 102px;
  height: 50px;
}
.email-icon293 {
  left: 1090px;
  width: 101px;
}
.email-icon294,
.email-icon295 {
  position: absolute;
  top: 400px;
  left: 903px;
  width: 288px;
  height: 40px;
}
.email-icon295 {
  top: 475px;
  width: 101px;
  height: 82px;
}
.email-icon296,
.email-icon297,
.option350 {
  position: absolute;
  top: 475px;
  left: 996px;
  width: 102px;
  height: 83px;
}
.email-icon297,
.option350 {
  left: 1090px;
  width: 101px;
}
.option350 {
  height: 3.91%;
  width: 7.5%;
  top: 42.29%;
  left: 70.97%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.email-icon298,
.email-icon299 {
  position: absolute;
  top: 400px;
  left: 607px;
  width: 131px;
  height: 85px;
}
.email-icon299 {
  top: 475px;
  height: 82px;
}
.option351,
.option352,
.option353,
.option354 {
  position: absolute;
  height: 3.91%;
  width: 7.5%;
  top: 41.21%;
  left: 43.47%;
  line-height: 32px;
  display: flex;
  align-items: center;
  mix-blend-mode: exclusion;
}
.option352,
.option353,
.option354 {
  top: 40.72%;
  left: 27.57%;
}
.option353,
.option354 {
  height: 4%;
  top: 40.53%;
  left: 53.96%;
}
.option354 {
  height: 2.64%;
  top: 39.16%;
  left: 70%;
}
.show-information-of-added-prin {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
  background-image: url(./public/newBG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--white);
  font-family: var(--font-abel);
}
